scenarios/system-monitor/initialization/n8n/threshold-monitor.json
{
  "name": "System Monitor - Threshold Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 60
            }
          ]
        }
      },
      "id": "threshold-timer",
      "name": "Check Every Minute",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT   metric_name,  warning_threshold,  critical_threshold,  check_interval,  action,  enabledFROM thresholds WHERE enabled = true",
        "additionalFields": {}
      },
      "id": "fetch-thresholds",
      "name": "Fetch Active Thresholds",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-system-monitor",
          "name": "System Monitor DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT   cpu_usage,  memory_usage,  disk_usage,  tcp_connections,  process_count,  load_average[1] as load_avg,  timestampFROM system_health WHERE timestamp >= NOW() - INTERVAL '5 MINUTES'ORDER BY timestamp DESC LIMIT 1",
        "additionalFields": {}
      },
      "id": "fetch-current-metrics",
      "name": "Fetch Current Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        460,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-system-monitor",
          "name": "System Monitor DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const thresholds = $input.first('fetch-thresholds').json || [];const metrics = $input.first('fetch-current-metrics').json || [];if (metrics.length === 0) {  return { json: { violations: [], status: 'no_data' } };}const currentMetrics = metrics[0];const violations = [];// Check each thresholdthresholds.forEach(threshold => {  const metricName = threshold.metric_name;  let currentValue = null;    // Map metric names to current values  switch(metricName) {    case 'cpu_usage':      currentValue = currentMetrics.cpu_usage;      break;    case 'memory_usage':      currentValue = currentMetrics.memory_usage;      break;    case 'disk_usage':      currentValue = currentMetrics.disk_usage;      break;    case 'tcp_connections':      currentValue = currentMetrics.tcp_connections;      break;    case 'process_count':      currentValue = currentMetrics.process_count;      break;    case 'load_average':      currentValue = currentMetrics.load_avg;      break;  }    if (currentValue !== null) {    let severity = null;    let exceeded_threshold = null;        // Check critical threshold first    if (threshold.critical_threshold && currentValue >= threshold.critical_threshold) {      severity = 'critical';      exceeded_threshold = threshold.critical_threshold;    }    // Then check warning threshold    else if (threshold.warning_threshold && currentValue >= threshold.warning_threshold) {      severity = 'warning';      exceeded_threshold = threshold.warning_threshold;    }        if (severity) {      violations.push({        metric_name: metricName,        current_value: currentValue,        threshold_value: exceeded_threshold,        severity: severity,        action: threshold.action,        timestamp: currentMetrics.timestamp,        description: `${metricName} is ${currentValue} (${severity} threshold: ${exceeded_threshold})`      });    }  }});// Group violations by severityconst criticalViolations = violations.filter(v => v.severity === 'critical');const warningViolations = violations.filter(v => v.severity === 'warning');const result = {  violations: violations,  critical_count: criticalViolations.length,  warning_count: warningViolations.length,  status: criticalViolations.length > 0 ? 'critical' : (warningViolations.length > 0 ? 'warning' : 'healthy'),  metrics_timestamp: currentMetrics.timestamp,  checked_at: new Date().toISOString()};// Only proceed if there are violationsif (violations.length > 0) {  return { json: result };}return { json: { status: 'healthy', violations: [], checked_at: new Date().toISOString() } };"
      },
      "id": "check-thresholds",
      "name": "Check Threshold Violations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "notEqual",
              "value2": "healthy"
            }
          ]
        }
      },
      "id": "has-violations",
      "name": "Has Violations?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;const violations = data.violations || [];// Create anomaly records for each violationconst anomalies = violations.map(violation => {  return {    type: `threshold-${violation.metric_name}`,    severity: violation.severity,    description: violation.description,    metrics: {      metric_name: violation.metric_name,      current_value: violation.current_value,      threshold_value: violation.threshold_value,      timestamp: violation.timestamp    }  };});return anomalies.map(anomaly => ({ json: anomaly }));"
      },
      "id": "create-anomaly-records",
      "name": "Create Anomaly Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",        "table": "anomalies",        "columns": "type, severity, description, metrics",        "additionalFields": {}      },      "id": "save-anomalies",      "name": "Save Anomalies to DB",      "type": "n8n-nodes-base.postgres",      "typeVersion": 1,      "position": [        1340,        200      ],      "credentials": {        "postgres": {          "id": "postgres-system-monitor",          "name": "System Monitor DB"        }      }    },    {      "parameters": {        "operation": "lpush",        "key": "threshold_alerts",        "value": "={{ JSON.stringify($json) }}",        "additionalFields": {          "ttl": 3600        }      },      "id": "queue-alert",      "name": "Queue Alert Notification",      "type": "n8n-nodes-base.redis",      "typeVersion": 1,      "position": [        1120,        400      ],      "credentials": {        "redis": {          "id": "redis-system-monitor",          "name": "System Monitor Redis"        }      }    },    {      "parameters": {        "conditions": {          "string": [            {              "value1": "={{ $json.status }}",              "operation": "equal",              "value2": "critical"            }          ]        }      },      "id": "is-critical",      "name": "Is Critical?",      "type": "n8n-nodes-base.if",      "typeVersion": 1,      "position": [        1340,        400      ]    },    {      "parameters": {        "requestMethod": "POST",        "url": "http://localhost:${PORT_CLAUDE_CODE}/api/investigate",        "options": {          "headers": {            "Content-Type": "application/json"          }        },        "bodyParametersUi": {          "parameter": [            {              "name": "anomalies",              "value": "={{ $json.violations }}"            },            {              "name": "severity",              "value": "={{ $json.status }}"            },            {              "name": "timestamp",              "value": "={{ $json.checked_at }}"            },            {              "name": "context",              "value": "threshold_monitoring"            }          ]        }      },      "id": "trigger-investigation",      "name": "Trigger AI Investigation",      "type": "n8n-nodes-base.httpRequest",      "typeVersion": 1,      "position": [        1560,        300      ]    }  ],  "connections": {    "Check Every Minute": {      "main": [        [          {            "node": "Fetch Active Thresholds",            "type": "main",            "index": 0          },          {            "node": "Fetch Current Metrics",            "type": "main",            "index": 0          }        ]      ]    },    "Fetch Active Thresholds": {      "main": [        [          {            "node": "Check Threshold Violations",            "type": "main",            "index": 0          }        ]      ]    },    "Fetch Current Metrics": {      "main": [        [          {            "node": "Check Threshold Violations",            "type": "main",            "index": 0          }        ]      ]    },    "Check Threshold Violations": {      "main": [        [          {            "node": "Has Violations?",            "type": "main",            "index": 0          }        ]      ]    },    "Has Violations?": {      "main": [        [          {            "node": "Create Anomaly Records",            "type": "main",            "index": 0          },          {            "node": "Queue Alert Notification",            "type": "main",            "index": 0          },          {            "node": "Is Critical?",            "type": "main",            "index": 0          }        ]      ]    },    "Create Anomaly Records": {      "main": [        [          {            "node": "Save Anomalies to DB",            "type": "main",            "index": 0          }        ]      ]    },    "Is Critical?": {      "main": [        [          {            "node": "Trigger AI Investigation",            "type": "main",            "index": 0          }        ]      ]    }  },  "active": true,  "settings": {},  "createdAt": "2025-01-08T00:00:00.000Z",  "updatedAt": "2025-01-08T00:00:00.000Z",  "id": "threshold-monitor",  "tags": []}