scenarios/scenario-to-desktop/initialization/n8n/desktop-build-automation.json
{
  "name": "Desktop Build Automation",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-trigger",
      "name": "Desktop Build Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "desktop-build-webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "desktop-build",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 480]
    },
    {
      "parameters": {
        "jsCode": "// Validate desktop build request\nconst buildRequest = $input.all()[0].json;\n\n// Required fields validation\nconst required = ['scenario_name', 'framework', 'template_type', 'output_path'];\nconst missing = required.filter(field => !buildRequest[field]);\n\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}`);\n}\n\n// Validate framework\nconst validFrameworks = ['electron', 'tauri', 'neutralino'];\nif (!validFrameworks.includes(buildRequest.framework)) {\n  throw new Error(`Invalid framework: ${buildRequest.framework}`);\n}\n\n// Validate template type\nconst validTemplates = ['basic', 'advanced', 'multi_window', 'kiosk'];\nif (!validTemplates.includes(buildRequest.template_type)) {\n  throw new Error(`Invalid template type: ${buildRequest.template_type}`);\n}\n\n// Generate build ID\nconst buildId = `desktop-${Date.now()}-${Math.random().toString(36).substr(2, 9)}`;\n\n// Prepare build configuration\nconst buildConfig = {\n  ...buildRequest,\n  build_id: buildId,\n  status: 'started',\n  timestamp: new Date().toISOString(),\n  platforms: buildRequest.platforms || ['win', 'mac', 'linux'],\n  features: buildRequest.features || {\n    splash: true,\n    autoUpdater: true,\n    devTools: true\n  }\n};\n\nconsole.log(`[Desktop Build] Starting build ${buildId} for ${buildRequest.scenario_name}`);\n\nreturn { buildConfig };"
      },
      "id": "validate-request",
      "name": "Validate Build Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 390]
    },
    {
      "parameters": {
        "command": "scenario-to-desktop generate \"={{ $json.buildConfig.scenario_name }}\" --framework {{ $json.buildConfig.framework }} --template {{ $json.buildConfig.template_type }} --platforms {{ $json.buildConfig.platforms.join(',') }} --output \"{{ $json.buildConfig.output_path }}\" --config-json",
        "options": {
          "cwd": "/home/matthalloran8/Vrooli/scenarios/scenario-to-desktop"
        }
      },
      "id": "generate-desktop-app",
      "name": "Generate Desktop App",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 390]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-condition",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-generation-result",
      "name": "Check Generation Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 390]
    },
    {
      "parameters": {
        "command": "cd \"{{ $('Validate Build Request').item.json.buildConfig.output_path }}\" && npm install && npm run build",
        "options": {}
      },
      "id": "build-desktop-app",
      "name": "Build Desktop App",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1120, 280]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "build-success-condition",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-build-result",
      "name": "Check Build Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 280]
    },
    {
      "parameters": {
        "command": "cd \"={{ $('Validate Build Request').item.json.buildConfig.output_path }}\" && npm run dist",
        "options": {}
      },
      "id": "package-desktop-app",
      "name": "Package Desktop App",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1560, 180]
    },
    {
      "parameters": {
        "jsCode": "// Handle successful desktop app generation and packaging\nconst buildConfig = $('Validate Build Request').item.json.buildConfig;\nconst generateResult = $('Generate Desktop App').item.json;\nconst buildResult = $('Build Desktop App').item.json;\nconst packageResult = $('Package Desktop App').item.json;\n\nconst successResult = {\n  build_id: buildConfig.build_id,\n  scenario_name: buildConfig.scenario_name,\n  status: 'completed',\n  framework: buildConfig.framework,\n  template_type: buildConfig.template_type,\n  platforms: buildConfig.platforms,\n  output_path: buildConfig.output_path,\n  \n  generation: {\n    success: generateResult.exitCode === 0,\n    stdout: generateResult.stdout,\n    stderr: generateResult.stderr\n  },\n  \n  build: {\n    success: buildResult.exitCode === 0,\n    stdout: buildResult.stdout,\n    stderr: buildResult.stderr\n  },\n  \n  packaging: {\n    success: packageResult.exitCode === 0,\n    stdout: packageResult.stdout,\n    stderr: packageResult.stderr\n  },\n  \n  completed_at: new Date().toISOString(),\n  duration_ms: Date.now() - new Date(buildConfig.timestamp).getTime()\n};\n\nconsole.log(`[Desktop Build] Successfully completed build ${buildConfig.build_id}`);\n\nreturn { result: successResult };"
      },
      "id": "build-success",
      "name": "Build Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 180]
    },
    {
      "parameters": {
        "jsCode": "// Handle build failure\nconst buildConfig = $('Validate Build Request').item.json.buildConfig;\nconst lastError = $input.all()[0].json;\n\nconst errorResult = {\n  build_id: buildConfig.build_id,\n  scenario_name: buildConfig.scenario_name,\n  status: 'failed',\n  framework: buildConfig.framework,\n  template_type: buildConfig.template_type,\n  \n  error: {\n    message: lastError.stderr || lastError.error || 'Build process failed',\n    exit_code: lastError.exitCode,\n    stdout: lastError.stdout,\n    stderr: lastError.stderr\n  },\n  \n  failed_at: new Date().toISOString(),\n  duration_ms: Date.now() - new Date(buildConfig.timestamp).getTime()\n};\n\nconsole.error(`[Desktop Build] Build ${buildConfig.build_id} failed:`, errorResult.error.message);\n\nreturn { result: errorResult };"
      },
      "id": "build-failure",
      "name": "Build Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "url": "={{ $('Validate Build Request').item.json.buildConfig.callback_url || 'http://localhost:3202/api/v1/desktop/webhook/build-complete' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Build-ID",
              "value": "={{ $json.result.build_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "result",
              "value": "={{ JSON.stringify($json.result) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-completion",
      "name": "Notify Completion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 340]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.result) }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.result) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-failure",
      "name": "Respond Failure",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 440]
    },
    {
      "parameters": {
        "command": "resource-browserless screenshot \"{{ $('Validate Build Request').item.json.buildConfig.output_path }}/dist-electron/*/\" --output \"/tmp/desktop-app-{{ $('Validate Build Request').item.json.buildConfig.build_id }}.png\"",
        "options": {}
      },
      "id": "screenshot-test",
      "name": "Screenshot Test",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1780, 340]
    }
  ],
  "connections": {
    "Desktop Build Webhook": {
      "main": [
        [
          {
            "node": "Validate Build Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Validate Build Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Build Request": {
      "main": [
        [
          {
            "node": "Generate Desktop App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Desktop App": {
      "main": [
        [
          {
            "node": "Check Generation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Generation Result": {
      "main": [
        [
          {
            "node": "Build Desktop App",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Desktop App": {
      "main": [
        [
          {
            "node": "Check Build Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Build Result": {
      "main": [
        [
          {
            "node": "Package Desktop App",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Package Desktop App": {
      "main": [
        [
          {
            "node": "Build Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success": {
      "main": [
        [
          {
            "node": "Screenshot Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Failure": {
      "main": [
        [
          {
            "node": "Notify Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Screenshot Test": {
      "main": [
        [
          {
            "node": "Notify Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Completion": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "desktop-build-automation",
  "tags": [
    {
      "createdAt": "2025-09-04T00:00:00.000Z",
      "updatedAt": "2025-09-04T00:00:00.000Z",
      "id": "desktop-automation",
      "name": "desktop-automation"
    }
  ]
}