scripts/resources/storage/qdrant/embeddings/test/fixtures/workflows/data-processing-pipeline.json
{
  "name": "Data Processing Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "value": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "cron-001",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "https://api.example.com/data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-001",
      "name": "Fetch Source Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "success"
            }
          ]
        }
      },
      "id": "if-001",
      "name": "Check Data Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO processed_data (content, timestamp) VALUES ($1, NOW())",
        "additionalFields": {
          "values": "={{ [$json.content] }}"
        }
      },
      "id": "postgres-001",
      "name": "Store in Database", 
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [800, 200]
    },
    {
      "parameters": {
        "content": "Processing completed successfully for batch: {{ $json.batch_id }}",
        "additionalFields": {}
      },
      "id": "sticky-001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Fetch Source Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Source Data": {
      "main": [
        [
          {
            "node": "Check Data Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Status": {
      "main": [
        [
          {
            "node": "Store in Database",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "saveManualExecutions": true
  },
  "versionId": "test-v2",
  "id": "data-pipeline-test",
  "meta": {
    "description": "Automated data processing pipeline that fetches, validates, and stores data",
    "purpose": "data ingestion and processing",
    "integrations": ["http", "postgres", "cron"],
    "created_at": "2025-01-22T11:00:00Z",
    "notes": "Runs every 6 hours to process incoming data batches"
  }
}