scenarios/app-personalizer/initialization/automation/n8n/personalization-pipeline.json
{
  "name": "App Personalization Pipeline",
  "nodes": [
    {
      "name": "Personalization Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 350],
      "webhookId": "personalize-app",
      "parameters": {
        "path": "personalize",
        "method": "POST"
      }
    },
    {
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 200],
      "parameters": {}
    },
    {
      "name": "Set Defaults",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 200],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "app_path",
              "value": "/app/generated/sample-app"
            },
            {
              "name": "persona_id",
              "value": "default-persona"
            },
            {
              "name": "brand_id",
              "value": "default-brand"
            },
            {
              "name": "deployment_mode",
              "value": "copy"
            },
            {
              "name": "personalization_type",
              "value": "basic"
            }
          ]
        }
      }
    },
    {
      "name": "Backup Original App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 250],
      "parameters": {
        "url": "http://localhost:{{$env.SERVICE_PORT}}/api/backup",
        "method": "POST",
        "body": {
          "app_path": "={{$json.app_path}}",
          "backup_type": "full"
        }
      }
    },
    {
      "name": "Analyze App Structure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 350],
      "parameters": {
        "url": "http://localhost:{{$env.RESOURCE_PORTS_n8n}}/webhook/ollama",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "Analyze app structure at {{$json.app_path}} and identify personalization points:\n- UI components that can be themed\n- Content areas for personalization\n- Configuration files for behavior changes\n- Feature flags and toggles\nProvide structured JSON output."
            },
            {
              "name": "model",
              "value": "codellama"
            },
            {
              "name": "type",
              "value": "code"
            },
            {
              "name": "quiet",
              "value": true
            },
            {
              "name": "timeout_seconds",
              "value": 120
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 150000
        }
      }
    },
    {
      "name": "Fetch Digital Twin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300],
      "parameters": {
        "url": "http://localhost:{{$env.PERSONAL_DIGITAL_TWIN_PORT}}/api/twin/export",
        "method": "POST",
        "headers": {
          "Authorization": "Bearer {{$json.twin_api_token}}"
        },
        "body": {
          "persona_id": "={{$json.persona_id}}",
          "export_type": "personalization"
        }
      }
    },
    {
      "name": "Fetch Brand Assets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 400],
      "parameters": {
        "url": "http://localhost:{{$env.BRAND_MANAGER_PORT}}/api/brand/export",
        "method": "POST",
        "headers": {
          "X-API-Key": "{{$json.brand_api_key}}"
        },
        "body": {
          "brand_id": "={{$json.brand_id}}",
          "format": "personalization"
        }
      }
    },
    {
      "name": "Generate Modification Plan",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 350],
      "parameters": {
        "functionCode": "// Combine digital twin data and brand assets to create modification plan\nconst modifications = [];\n\n// UI Theme modifications from brand\nif ($json.brand_assets) {\n  modifications.push({\n    type: 'ui_theme',\n    files: ['src/styles/theme.js', 'public/manifest.json'],\n    changes: $json.brand_assets.theme\n  });\n}\n\n// Content personalization from digital twin\nif ($json.twin_data) {\n  modifications.push({\n    type: 'content',\n    files: ['src/components/Welcome.jsx', 'src/data/defaults.js'],\n    changes: {\n      persona_name: $json.twin_data.name,\n      preferences: $json.twin_data.preferences,\n      custom_prompts: $json.twin_data.prompts\n    }\n  });\n}\n\n// Behavior modifications\nif ($json.personalization_type === 'full') {\n  modifications.push({\n    type: 'behavior',\n    files: ['src/config/app.config.js'],\n    changes: {\n      ai_personality: $json.twin_data.personality,\n      interaction_style: $json.twin_data.conversation_style\n    }\n  });\n}\n\nreturn [{json: {modifications, app_path: $json.app_path}}];"
      }
    },
    {
      "name": "Claude Code Integration",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 350],
      "parameters": {
        "url": "http://localhost:{{$env.RESOURCE_PORTS_claude_code}}/api/modify",
        "method": "POST",
        "body": {
          "project_path": "={{$json.app_path}}",
          "modifications": "={{$json.modifications}}",
          "validation": true
        },
        "timeout": 300000
      }
    },
    {
      "name": "Store Personalization",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "operation": "insert",
        "table": "personalizations",
        "columns": "app_id,persona_id,brand_id,modifications,status,created_at"
      }
    },
    {
      "name": "Deploy Mode Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1250, 400],
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.deployment_mode}}",
        "rules": {
          "rules": [
            {"value2": "copy"},
            {"value2": "patch"},
            {"value2": "multi_tenant"}
          ]
        }
      }
    },
    {
      "name": "Create App Copy",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1450, 350],
      "parameters": {
        "command": "cp -r {{$json.app_path}} {{$json.app_path}}-personalized-{{$json.persona_id}}"
      }
    },
    {
      "name": "Apply Patch",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1450, 400],
      "parameters": {
        "command": "cd {{$json.app_path}} && git apply {{$json.patch_file}}"
      }
    },
    {
      "name": "Multi-Tenant Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 450],
      "parameters": {
        "url": "http://localhost:{{$env.SERVICE_PORT}}/api/multi-tenant/configure",
        "method": "POST",
        "body": {
          "app_id": "={{$json.app_id}}",
          "persona_id": "={{$json.persona_id}}",
          "config": "={{$json.modifications}}"
        }
      }
    },
    {
      "name": "Validate & Test",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1650, 350],
      "parameters": {
        "url": "http://localhost:{{$env.SERVICE_PORT}}/api/validate",
        "method": "POST",
        "body": {
          "app_path": "={{$json.personalized_app_path}}",
          "tests": ["build", "lint", "startup"]
        }
      }
    },
    {
      "name": "Notify Completion",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [1850, 350],
      "parameters": {
        "path": "personalization-complete",
        "method": "POST",
        "responseData": {
          "success": true,
          "app_path": "={{$json.personalized_app_path}}",
          "modifications_applied": "={{$json.modifications.length}}"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[
        {"node": "Set Defaults"}
      ]]
    },
    "Set Defaults": {
      "main": [[
        {"node": "Backup Original App"},
        {"node": "Analyze App Structure"}
      ]]
    },
    "Personalization Request": {
      "main": [[
        {"node": "Backup Original App"},
        {"node": "Analyze App Structure"}
      ]]
    },
    "Analyze App Structure": {
      "main": [[
        {"node": "Fetch Digital Twin"},
        {"node": "Fetch Brand Assets"}
      ]]
    },
    "Fetch Digital Twin": {
      "main": [[ {"node": "Generate Modification Plan"} ]]
    },
    "Fetch Brand Assets": {
      "main": [[ {"node": "Generate Modification Plan"} ]]
    },
    "Generate Modification Plan": {
      "main": [[ {"node": "Claude Code Integration"} ]]
    },
    "Claude Code Integration": {
      "main": [[
        {"node": "Store Personalization"},
        {"node": "Deploy Mode Router"}
      ]]
    },
    "Deploy Mode Router": {
      "main": [
        [ {"node": "Create App Copy"} ],
        [ {"node": "Apply Patch"} ],
        [ {"node": "Multi-Tenant Config"} ]
      ]
    },
    "Create App Copy": {
      "main": [[ {"node": "Validate & Test"} ]]
    },
    "Apply Patch": {
      "main": [[ {"node": "Validate & Test"} ]]
    },
    "Multi-Tenant Config": {
      "main": [[ {"node": "Validate & Test"} ]]
    },
    "Validate & Test": {
      "main": [[ {"node": "Notify Completion"} ]]
    }
  }
}