scenarios/roi-fit-analysis/initialization/n8n/competitive-landscape-analyzer.json
{
  "name": "Competitive Landscape Analyzer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "competitive-landscape",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 600]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "industry",
              "value": "SaaS productivity tools"
            },
            {
              "name": "competitors",
              "value": "Notion, Asana, Monday.com"
            },
            {
              "name": "analysis_depth",
              "value": "comprehensive"
            }
          ]
        },
        "options": {}
      },
      "id": "default-values",
      "name": "Default Values",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 600]
    },
    {
      "parameters": {},
      "id": "merge",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [650, 450]
    },
    {
      "parameters": {
        "jsCode": "// Extract and prepare competitive analysis request\nconst input = $input.item.json;\n\nconst industry = input.industry || input.body?.industry || '';\nconst competitors = input.competitors || input.body?.competitors || '';\nconst analysisDepth = input.analysis_depth || input.body?.analysis_depth || 'standard';\n\n// Validate required fields\nif (!industry) {\n  throw new Error('Industry field is required');\n}\n\n// Parse competitors list\nlet competitorList = [];\nif (typeof competitors === 'string') {\n  competitorList = competitors.split(',').map(c => c.trim()).filter(c => c);\n} else if (Array.isArray(competitors)) {\n  competitorList = competitors;\n}\n\nreturn {\n  industry: industry,\n  competitors: competitorList,\n  analysis_depth: analysisDepth,\n  analysis_id: 'comp_' + Date.now() + '_' + Math.random().toString(36).substr(2, 9),\n  timestamp: new Date().toISOString(),\n  request_type: 'competitive_landscape'\n};"
      },
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 450]
    },
    {
      "parameters": {
        "url": "${service.n8n.url}/webhook/web-research-aggregator",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "queries",
              "value": "={{ [$json.industry + ' market leaders', ...$json.competitors.map(c => c + ' features pricing'), $json.industry + ' market trends 2024'].join('||') }}"
            },
            {
              "name": "search_depth",
              "value": "={{ $json.analysis_depth === 'comprehensive' ? 'deep' : 'standard' }}"
            },
            {
              "name": "result_limit",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "id": "web-research",
      "name": "Web Research Aggregator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 450]
    },
    {
      "parameters": {
        "url": "${service.n8n.url}/webhook/structured-data-extractor",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ JSON.stringify($json.aggregated_results || $json) }}"
            },
            {
              "name": "schema",
              "value": "{\n  \"competitors\": [\n    {\n      \"name\": \"string\",\n      \"pricing\": \"string\",\n      \"key_features\": [\"string\"],\n      \"market_share\": \"string\",\n      \"strengths\": [\"string\"],\n      \"weaknesses\": [\"string\"]\n    }\n  ],\n  \"market_trends\": [\"string\"],\n  \"opportunities\": [\"string\"],\n  \"threats\": [\"string\"]\n}"
            },
            {
              "name": "extraction_mode",
              "value": "structured"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Structured Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 450]
    },
    {
      "parameters": {
        "url": "${service.n8n.url}/webhook/ollama",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "=You are a competitive intelligence analyst. Based on this structured competitive data:\n\n{{ JSON.stringify($json.extracted_data || $json, null, 2) }}\n\nProvide strategic recommendations for entering the {{ $('Prepare Data').item.json.industry }} market:\n\n1. **Differentiation Strategy**: How to stand out from competitors\n2. **Pricing Strategy**: Optimal pricing model and positioning\n3. **Go-to-Market**: Best channels and tactics\n4. **Partnership Opportunities**: Potential strategic alliances\n5. **Risk Mitigation**: Key risks and how to address them\n6. **Success Metrics**: KPIs to track for first 12 months\n\nBe specific, actionable, and data-driven in your recommendations."
            },
            {
              "name": "model",
              "value": "phi3.5:3.8b"
            },
            {
              "name": "type",
              "value": "strategic_analysis"
            },
            {
              "name": "temperature",
              "value": "0.3"
            }
          ]
        },
        "options": {}
      },
      "id": "strategic-analysis",
      "name": "Strategic Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 450]
    },
    {
      "parameters": {
        "jsCode": "// Combine all analysis components\nconst originalRequest = $('Prepare Data').item.json;\nconst webResearch = $('Web Research Aggregator').item.json;\nconst structuredData = $('Extract Structured Data').item.json;\nconst strategicAnalysis = $('Strategic Analysis').item.json;\n\n// Parse strategic recommendations\nlet recommendations = {};\ntry {\n  if (strategicAnalysis.success && strategicAnalysis.response) {\n    const responseText = strategicAnalysis.response;\n    if (responseText.includes('{') && responseText.includes('}')) {\n      const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n      if (jsonMatch) {\n        recommendations = JSON.parse(jsonMatch[0]);\n      } else {\n        recommendations = { raw_recommendations: responseText };\n      }\n    } else {\n      recommendations = { raw_recommendations: responseText };\n    }\n  }\n} catch (e) {\n  console.error('Failed to parse recommendations:', e);\n  recommendations = { raw_recommendations: strategicAnalysis.response || 'Analysis pending' };\n}\n\n// Calculate competitive advantage score\nfunction calculateCompetitiveScore(data) {\n  let score = 50; // Base score\n  \n  // Adjust based on number of competitors analyzed\n  const competitorCount = data.competitors?.length || 0;\n  if (competitorCount > 0 && competitorCount < 3) score += 20; // Few competitors\n  else if (competitorCount >= 5) score -= 10; // Many competitors\n  \n  // Adjust based on opportunities vs threats\n  const opportunities = data.opportunities?.length || 0;\n  const threats = data.threats?.length || 0;\n  score += (opportunities - threats) * 5;\n  \n  return Math.max(0, Math.min(100, score));\n}\n\nconst extractedData = structuredData.extracted_data || {};\n\n// Build comprehensive response\nreturn {\n  analysis_id: originalRequest.analysis_id,\n  timestamp: originalRequest.timestamp,\n  request: {\n    industry: originalRequest.industry,\n    competitors: originalRequest.competitors,\n    analysis_depth: originalRequest.analysis_depth\n  },\n  competitive_landscape: {\n    competitors: extractedData.competitors || [],\n    market_trends: extractedData.market_trends || [],\n    opportunities: extractedData.opportunities || [],\n    threats: extractedData.threats || []\n  },\n  strategic_recommendations: recommendations,\n  metrics: {\n    competitive_advantage_score: calculateCompetitiveScore(extractedData),\n    market_attractiveness: calculateMarketAttractiveness(extractedData),\n    entry_difficulty: calculateEntryDifficulty(extractedData)\n  },\n  data_sources: {\n    web_sources_analyzed: webResearch.sources_count || 0,\n    data_quality_score: webResearch.quality_score || 0\n  },\n  success: true\n};\n\nfunction calculateMarketAttractiveness(data) {\n  // Simple scoring based on trends and opportunities\n  const trendCount = data.market_trends?.length || 0;\n  const oppCount = data.opportunities?.length || 0;\n  return Math.min(100, 40 + (trendCount * 10) + (oppCount * 15));\n}\n\nfunction calculateEntryDifficulty(data) {\n  // Based on competitor strength and threats\n  const competitorCount = data.competitors?.length || 0;\n  const threatCount = data.threats?.length || 0;\n  const difficulty = 30 + (competitorCount * 10) + (threatCount * 8);\n  return Math.min(100, difficulty);\n}"
      },
      "id": "compile-analysis",
      "name": "Compile Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1650, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 450]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Merge", "type": "main", "index": 0 }]]
    },
    "Manual Trigger": {
      "main": [[{ "node": "Default Values", "type": "main", "index": 0 }]]
    },
    "Default Values": {
      "main": [[{ "node": "Merge", "type": "main", "index": 1 }]]
    },
    "Merge": {
      "main": [[{ "node": "Prepare Data", "type": "main", "index": 0 }]]
    },
    "Prepare Data": {
      "main": [[{ "node": "Web Research Aggregator", "type": "main", "index": 0 }]]
    },
    "Web Research Aggregator": {
      "main": [[{ "node": "Extract Structured Data", "type": "main", "index": 0 }]]
    },
    "Extract Structured Data": {
      "main": [[{ "node": "Strategic Analysis", "type": "main", "index": 0 }]]
    },
    "Strategic Analysis": {
      "main": [[{ "node": "Compile Analysis", "type": "main", "index": 0 }]]
    },
    "Compile Analysis": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "competitive-landscape-analyzer"
  },
  "tags": ["roi-analysis", "competitive-intelligence", "market-research"]
}