scripts/__test/resources/scenarios/vault-secrets-integration/resources/n8n/vault-integration-workflow.json
{
  "name": "Vault Secrets Integration Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "vault-integration-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "4e3c3a8e-2f9a-4c3b-8d5c-1a2b3c4d5e6f",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "vault-integration-webhook"
    },
    {
      "parameters": {
        "url": "={{ $env.VAULT_BASE_URL }}/v1/secret/data/test/integration",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Vault-Token",
              "value": "={{ $env.VAULT_TOKEN }}"
            }
          ]
        }
      },
      "id": "7f8g9h0i-1j2k-3l4m-5n6o-7p8q9r0s1t2u",
      "name": "Retrieve Secret from Vault",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Process the secret data from Vault\nconst vaultResponse = $input.item.json;\n\n// Extract the actual secret data\nconst secretData = vaultResponse.data?.data || {};\n\n// Validate the secret structure\nif (!secretData.api_key || !secretData.database_url) {\n  throw new Error('Invalid secret structure from Vault');\n}\n\n// Return processed data with masked values for security\nreturn {\n  success: true,\n  message: 'Secret retrieved successfully from Vault',\n  api_key_prefix: secretData.api_key.substring(0, 8) + '...',\n  database_available: !!secretData.database_url,\n  metadata: {\n    version: vaultResponse.data?.metadata?.version || 'unknown',\n    created_time: vaultResponse.data?.metadata?.created_time || null\n  },\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "3v4w5x6y-7z8a-9b0c-1d2e-3f4g5h6i7j8k",
      "name": "Process Secret Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "9l0m1n2o-3p4q-5r6s-7t8u-9v0w1x2y3z4a",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Vault integration completed successfully"
            }
          ],
          "number": [
            {
              "name": "http_code",
              "value": 200
            }
          ]
        },
        "options": {}
      },
      "id": "5b6c7d8e-9f0g-1h2i-3j4k-5l6m7n8o9p0q",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1120, 240]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "message",
              "value": "Failed to retrieve or process secrets from Vault"
            }
          ],
          "number": [
            {
              "name": "http_code",
              "value": 500
            }
          ]
        },
        "options": {}
      },
      "id": "1r2s3t4u-5v6w-7x8y-9z0a-1b2c3d4e5f6g",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1120, 360]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Retrieve Secret from Vault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Secret from Vault": {
      "main": [
        [
          {
            "node": "Process Secret Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Secret Data": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4e8f7a9b-2c3d-4e5f-6a7b-8c9d0e1f2a3b",
  "id": "vault-secrets-integration",
  "meta": {
    "instanceId": "8239b6f12ca1234567890abcdef1234567890abcdef12345"
  },
  "tags": []
}