scripts/scenarios/core/secure-document-processing/initialization/automation/n8n/process-orchestrator.json
{
  "name": "Process Orchestrator",
  "nodes": [
    {
      "parameters": {
        "path": "process-orchestrator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-orchestrator",
      "name": "Process Orchestrator Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "process-orchestrator-webhook"
    },
    
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract processing details\nconst input = $input.item.json;\nconst jobId = input.jobId;\nconst documentId = input.documentId;\nconst processing = input.processing;\n\n// Determine processing path\nconst processingPath = processing.workflowId ? 'workflow' : 'prompt';\n\n// Update job status to processing\nconst jobUpdate = {\n  jobId: jobId,\n  documentId: documentId,\n  status: 'processing',\n  processingPath: processingPath,\n  timestamp: new Date().toISOString()\n};\n\n// Prepare for routing\nconst routingData = {\n  ...jobUpdate,\n  processing: processing,\n  nextStep: processingPath === 'workflow' ? 'workflow-executor' : 'prompt-processor'\n};\n\nreturn routingData;"
      },
      "id": "prepare-routing",
      "name": "Prepare Routing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE secure_doc_processing.processing_jobs SET status = $1, started_at = NOW() WHERE id = $2",
        "queryParameters": "={{ ['processing', $json.jobId] }}",
        "options": {}
      },
      "id": "update-job-status",
      "name": "Update Job Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [600, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-secure-doc",
          "name": "PostgreSQL Secure Doc Processing"
        }
      }
    },
    
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-prompt",
              "leftValue": "={{ $json.processingPath }}",
              "rightValue": "prompt",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-processing-type",
      "name": "Is Prompt Processing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, 300]
    },
    
    {
      "parameters": {
        "url": "http://localhost:{{ $env.RESOURCE_PORTS_n8n }}/webhook/prompt-processor",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jobId",
              "value": "={{ $json.jobId }}"
            },
            {
              "name": "documentId",
              "value": "={{ $json.documentId }}"
            },
            {
              "name": "prompt",
              "value": "={{ $json.processing.prompt }}"
            },
            {
              "name": "saveAsWorkflow",
              "value": "={{ $json.processing.saveAsWorkflow }}"
            },
            {
              "name": "workflowName",
              "value": "={{ $json.processing.workflowName }}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "route-to-prompt",
      "name": "Route to Prompt Processor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 200]
    },
    
    {
      "parameters": {
        "url": "http://localhost:{{ $env.RESOURCE_PORTS_n8n }}/webhook/workflow-executor",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jobId",
              "value": "={{ $json.jobId }}"
            },
            {
              "name": "documentId",
              "value": "={{ $json.documentId }}"
            },
            {
              "name": "workflowId",
              "value": "={{ $json.processing.workflowId }}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "route-to-workflow",
      "name": "Route to Workflow Executor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 400]
    },
    
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "semantic-enabled",
              "leftValue": "={{ $json.processing.enableSemanticSearch }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-semantic",
      "name": "Semantic Search Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    
    {
      "parameters": {
        "url": "http://localhost:{{ $env.RESOURCE_PORTS_n8n }}/webhook/semantic-indexer",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "documentId",
              "value": "={{ $json.documentId }}"
            },
            {
              "name": "jobId",
              "value": "={{ $json.jobId }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "trigger-semantic",
      "name": "Trigger Semantic Indexing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1400, 200]
    },
    
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE secure_doc_processing.processing_jobs SET status = $1, completed_at = NOW(), processing_time_ms = EXTRACT(EPOCH FROM (NOW() - started_at)) * 1000, documents_processed = documents_processed + 1 WHERE id = $2",
        "queryParameters": "={{ ['completed', $json.jobId] }}",
        "options": {}
      },
      "id": "complete-job",
      "name": "Mark Job Complete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1600, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-secure-doc",
          "name": "PostgreSQL Secure Doc Processing"
        }
      }
    },
    
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Document processing completed"
            },
            {
              "name": "jobId",
              "value": "={{ $json.jobId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1800, 300]
    },
    
    {
      "parameters": {
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 300]
    }
  ],
  
  "connections": {
    "Process Orchestrator Webhook": {
      "main": [[{"node": "Prepare Routing", "type": "main", "index": 0}]]
    },
    "Prepare Routing": {
      "main": [[{"node": "Update Job Status", "type": "main", "index": 0}]]
    },
    "Update Job Status": {
      "main": [[{"node": "Is Prompt Processing?", "type": "main", "index": 0}]]
    },
    "Is Prompt Processing?": {
      "main": [
        [{"node": "Route to Prompt Processor", "type": "main", "index": 0}],
        [{"node": "Route to Workflow Executor", "type": "main", "index": 0}]
      ]
    },
    "Route to Prompt Processor": {
      "main": [[{"node": "Semantic Search Enabled?", "type": "main", "index": 0}]]
    },
    "Route to Workflow Executor": {
      "main": [[{"node": "Semantic Search Enabled?", "type": "main", "index": 0}]]
    },
    "Semantic Search Enabled?": {
      "main": [
        [{"node": "Trigger Semantic Indexing", "type": "main", "index": 0}],
        [{"node": "Mark Job Complete", "type": "main", "index": 0}]
      ]
    },
    "Trigger Semantic Indexing": {
      "main": [[{"node": "Mark Job Complete", "type": "main", "index": 0}]]
    },
    "Mark Job Complete": {
      "main": [[{"node": "Prepare Response", "type": "main", "index": 0}]]
    },
    "Prepare Response": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  
  "versionId": "v1.0.0",
  "id": "process-orchestrator"
}