__test/fixtures/workflows/n8n/n8n-whisper-transcription.json
{
  "name": "Whisper Transcription Test",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8090/transcribe",
        "method": "POST",
        "options": {
          "timeout": 60000
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "audio_file",
              "value": "test_audio.mp3"
            },
            {
              "name": "model",
              "value": "base"
            }
          ]
        }
      },
      "name": "Whisper Transcription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.text}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Validate Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Whisper Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcription": {
      "main": [
        [
          {
            "node": "Validate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}