scenarios/image-generation-pipeline/initialization/automation/n8n/main-workflow.json
{
  "name": "Enterprise Image Generation Pipeline - Main Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "image-generation-pipeline-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "image-generation-pipeline-webhook"
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 500]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "Generate a professional product photo with modern aesthetic"
            },
            {
              "name": "campaign_id",
              "value": "test-campaign"
            },
            {
              "name": "brand",
              "value": "default"
            },
            {
              "name": "style",
              "value": "photorealistic"
            }
          ],
          "number": [
            {
              "name": "num_variations",
              "value": 1
            }
          ]
        },
        "options": {}
      },
      "id": "default-values",
      "name": "Default Values",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [460, 500]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Process input and prepare for image generation\nconst inputData = $input.item.json;\nconst timestamp = new Date().toISOString();\n\n// Extract generation parameters\nconst processedData = {\n  scenario_id: 'image-generation-pipeline',\n  timestamp: timestamp,\n  request_id: `img-gen-${Date.now()}`,\n  \n  // Generation parameters\n  prompt: inputData.prompt || inputData.text || inputData.description || '',\n  campaign_id: inputData.campaign_id || 'default',\n  brand: inputData.brand || 'default',\n  style: inputData.style || 'photorealistic',\n  num_variations: inputData.num_variations || 1,\n  \n  // Processing flags\n  needs_voice_processing: !!(inputData.audio_file || inputData.voice_brief),\n  needs_text_enhancement: !!(inputData.enhance_prompt || inputData.auto_enhance),\n  needs_brand_compliance: inputData.brand !== 'default',\n  \n  // Original input for reference\n  original_input: inputData,\n  processing_start: Date.now()\n};\n\n// Validate required fields\nif (!processedData.prompt && !processedData.needs_voice_processing) {\n  throw new Error('Either prompt or voice input is required');\n}\n\nreturn processedData;"
      },
      "id": "process-input",
      "name": "Process Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needs_text_enhancement }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-enhancement",
      "name": "Check Enhancement Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "command": "vrooli resource ollama generate \"Enhance this image generation prompt for better quality and detail. Original prompt: {{ $json.prompt }}\n\nProvide an enhanced version that includes:\n- More specific visual details\n- Lighting and atmosphere\n- Composition suggestions\n- Technical quality markers\n\nEnhanced prompt:\" --model llama3.1:8b --type reasoning --quiet",
        "cwd": "/vrooli"
      },
      "id": "enhance-prompt",
      "name": "Enhance Prompt via CLI",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "enhanced_prompt",
              "value": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "pass-through",
      "name": "Pass Through Original",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1120, 500]
    },
    {
      "parameters": {},
      "id": "merge-enhancement",
      "name": "Merge Enhancement Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare the final generation request\nconst input = $input.item.json;\n\n// Extract the enhanced or original prompt\nlet finalPrompt = input.enhanced_prompt || input.stdout || input.prompt;\n\n// Clean up the prompt if it came from CLI output\nif (typeof finalPrompt === 'string' && finalPrompt.includes('Enhanced prompt:')) {\n  const parts = finalPrompt.split('Enhanced prompt:');\n  finalPrompt = parts[parts.length - 1].trim();\n}\n\n// Build ComfyUI workflow parameters\nconst workflowParams = {\n  prompt: finalPrompt,\n  negative_prompt: 'blurry, low quality, distorted, amateur',\n  width: 1024,\n  height: 1024,\n  batch_size: input.num_variations || 1,\n  steps: 25,\n  cfg_scale: 7.5,\n  sampler_name: 'dpmpp_2m',\n  scheduler: 'karras',\n  seed: Math.floor(Math.random() * 1000000)\n};\n\n// Create workflow JSON for ComfyUI\nconst workflowJson = {\n  '3': {\n    'class_type': 'KSampler',\n    'inputs': {\n      'seed': workflowParams.seed,\n      'steps': workflowParams.steps,\n      'cfg': workflowParams.cfg_scale,\n      'sampler_name': workflowParams.sampler_name,\n      'scheduler': workflowParams.scheduler,\n      'denoise': 1,\n      'model': ['4', 0],\n      'positive': ['6', 0],\n      'negative': ['7', 0],\n      'latent_image': ['5', 0]\n    }\n  },\n  '4': {\n    'class_type': 'CheckpointLoaderSimple',\n    'inputs': {\n      'ckpt_name': 'sd_xl_base_1.0.safetensors'\n    }\n  },\n  '5': {\n    'class_type': 'EmptyLatentImage',\n    'inputs': {\n      'width': workflowParams.width,\n      'height': workflowParams.height,\n      'batch_size': workflowParams.batch_size\n    }\n  },\n  '6': {\n    'class_type': 'CLIPTextEncode',\n    'inputs': {\n      'text': workflowParams.prompt,\n      'clip': ['4', 1]\n    }\n  },\n  '7': {\n    'class_type': 'CLIPTextEncode',\n    'inputs': {\n      'text': workflowParams.negative_prompt,\n      'clip': ['4', 1]\n    }\n  },\n  '8': {\n    'class_type': 'VAEDecode',\n    'inputs': {\n      'samples': ['3', 0],\n      'vae': ['4', 2]\n    }\n  },\n  '9': {\n    'class_type': 'SaveImage',\n    'inputs': {\n      'images': ['8', 0],\n      'filename_prefix': `img-gen-${input.request_id}`\n    }\n  }\n};\n\nreturn {\n  request_id: input.request_id,\n  campaign_id: input.campaign_id,\n  brand: input.brand,\n  prompt: finalPrompt,\n  workflow: JSON.stringify(workflowJson),\n  workflow_params: workflowParams\n};"
      },
      "id": "prepare-comfyui",
      "name": "Prepare ComfyUI Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "command": "echo '{{ $json.workflow }}' | vrooli resource comfyui execute-workflow --format json",
        "cwd": "/vrooli"
      },
      "id": "generate-image",
      "name": "Generate Image via ComfyUI",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Process the generation results\nconst input = $input.item.json;\nconst generationOutput = input.stdout || '';\n\n// Parse generation results\nlet result = {\n  success: false,\n  request_id: input.request_id,\n  campaign_id: input.campaign_id,\n  brand: input.brand,\n  prompt: input.prompt,\n  error: null,\n  images: [],\n  processing_time: Date.now() - (input.processing_start || Date.now())\n};\n\ntry {\n  // Check if generation was successful\n  if (generationOutput.includes('generated') || generationOutput.includes('success')) {\n    result.success = true;\n    \n    // Extract image paths if available\n    const imagePattern = /img-gen-[\\w-]+\\.(png|jpg|jpeg)/gi;\n    const matches = generationOutput.match(imagePattern);\n    if (matches) {\n      result.images = matches.map(filename => ({\n        filename: filename,\n        path: `/tmp/comfyui/output/${filename}`,\n        url: `http://localhost:${process.env.RESOURCE_PORTS?.comfyui || 8188}/view?filename=${filename}`\n      }));\n    }\n  } else {\n    result.error = 'Generation failed - no success indicator in output';\n  }\n} catch (e) {\n  result.error = `Failed to process generation output: ${e.message}`;\n}\n\n// Add metadata\nresult.metadata = {\n  timestamp: new Date().toISOString(),\n  workflow_type: 'comfyui',\n  enhanced: input.needs_text_enhancement || false,\n  num_variations: input.num_variations || 1\n};\n\nreturn result;"
      },
      "id": "process-results",
      "name": "Process Generation Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO generation_history (request_id, campaign_id, brand, prompt, status, images, metadata, created_at) VALUES ('{{ $json.request_id }}', '{{ $json.campaign_id }}', '{{ $json.brand }}', '{{ $json.prompt }}', '{{ $json.success ? \"completed\" : \"failed\" }}', '{{ JSON.stringify($json.images) }}', '{{ JSON.stringify($json.metadata) }}', NOW()) RETURNING id;",
        "additionalFields": {}
      },
      "id": "save-to-db",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [2220, 400],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Image Generation DB"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "={{ $json.success ? 'success' : 'error' }}"
            },
            {
              "name": "message",
              "value": "={{ $json.success ? 'Image generation completed successfully' : $json.error }}"
            }
          ],
          "number": [
            {
              "name": "generation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "processing_time_ms",
              "value": "={{ $json.processing_time }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [2440, 400]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2660, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Default Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Values": {
      "main": [
        [
          {
            "node": "Process Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Input": {
      "main": [
        [
          {
            "node": "Check Enhancement Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Enhancement Needed": {
      "main": [
        [
          {
            "node": "Enhance Prompt via CLI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Through Original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Prompt via CLI": {
      "main": [
        [
          {
            "node": "Merge Enhancement Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Through Original": {
      "main": [
        [
          {
            "node": "Merge Enhancement Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Enhancement Results": {
      "main": [
        [
          {
            "node": "Prepare ComfyUI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare ComfyUI Request": {
      "main": [
        [
          {
            "node": "Generate Image via ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image via ComfyUI": {
      "main": [
        [
          {
            "node": "Process Generation Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Generation Results": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7b4e1d3f-8c9a-4b2e-a1f3-5d6e7f8a9b1c",
  "id": "image-generation-pipeline-main",
  "meta": {
    "instanceId": "vrooli-image-generation-pipeline"
  },
  "tags": []
}