scenarios/competitor-change-monitor/initialization/n8n/github-monitor.json
{
  "name": "competitor-github-monitor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "competitor-monitor/check-github",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"repoUrl\": \"https://github.com/anthropics/claude-code\",\n  \"targetId\": \"test-github-target\",\n  \"competitorId\": \"test-competitor\",\n  \"trackCommits\": true,\n  \"trackReleases\": true,\n  \"trackIssues\": false\n}",
        "options": {}
      },
      "id": "provide-defaults",
      "name": "Provide Defaults",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 500]
    },
    {
      "parameters": {
        "jsCode": "// Parse GitHub URL to get owner and repo\nconst input = $input.all()[0].json;\nconst url = input.repoUrl;\n\nconst match = url.match(/github\\.com\\/([^\\/]+)\\/([^\\/]+)/);\nif (!match) {\n  throw new Error('Invalid GitHub repository URL');\n}\n\nconst [, owner, repo] = match;\n\nreturn {\n  owner,\n  repo: repo.replace('.git', ''),\n  targetId: input.targetId,\n  competitorId: input.competitorId,\n  trackCommits: input.trackCommits !== false,\n  trackReleases: input.trackReleases !== false,\n  trackIssues: input.trackIssues === true,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "parse-repo",
      "name": "Parse Repository",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/commits",
        "options": {
          "headers": {
            "User-Agent": "Competitor-Monitor/1.0"
          },
          "qs": {
            "per_page": 10
          }
        }
      },
      "id": "fetch-commits",
      "name": "Fetch Recent Commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/releases",
        "options": {
          "headers": {
            "User-Agent": "Competitor-Monitor/1.0"
          },
          "qs": {
            "per_page": 5
          }
        }
      },
      "id": "fetch-releases",
      "name": "Fetch Releases",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Combine and process GitHub data\nconst commits = $input.all()[0].json || [];\nconst releases = $input.all()[1].json || [];\nconst targetId = $input.all()[0].json.targetId;\n\n// Create a combined hash of latest activity\nconst crypto = require('crypto');\nconst latestData = {\n  latestCommit: commits[0]?.sha || null,\n  latestRelease: releases[0]?.tag_name || null,\n  commitCount: commits.length,\n  releaseCount: releases.length\n};\n\nconst contentHash = crypto\n  .createHash('sha256')\n  .update(JSON.stringify(latestData))\n  .digest('hex');\n\n// Extract important changes\nconst changes = [];\n\n// Check for new commits\nif (commits.length > 0) {\n  changes.push({\n    type: 'commits',\n    count: commits.length,\n    latest: {\n      sha: commits[0].sha,\n      message: commits[0].commit.message,\n      author: commits[0].commit.author.name,\n      date: commits[0].commit.author.date\n    }\n  });\n}\n\n// Check for new releases\nif (releases.length > 0) {\n  changes.push({\n    type: 'releases',\n    latest: {\n      tag: releases[0].tag_name,\n      name: releases[0].name,\n      body: releases[0].body,\n      published: releases[0].published_at,\n      prerelease: releases[0].prerelease\n    }\n  });\n}\n\nreturn {\n  targetId,\n  contentHash,\n  changes,\n  latestData,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "process-github-data",
      "name": "Process GitHub Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT last_content_hash, config FROM monitoring_targets WHERE id = $1",
        "options": {
          "queryParams": "={{ $json.targetId }}"
        }
      },
      "id": "get-last-state",
      "name": "Get Last State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.contentHash }}",
              "value2": "={{ $json.last_content_hash }}",
              "operation": "notEqual"
            }
          ]
        }
      },
      "id": "check-changes",
      "name": "Check for Changes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook/ollama",
        "authentication": "none",
        "method": "POST",
        "body": {
          "model": "llama3.2",
          "prompt": "Analyze these GitHub repository changes for competitive intelligence:\\n\\nChanges: {{ JSON.stringify($json.changes) }}\\n\\nProvide: 1) Key developments summary, 2) Potential business impact, 3) Technology trends observed, 4) Relevance score (0-1)",
          "temperature": 0.3
        },
        "options": {}
      },
      "id": "analyze-github-changes",
      "name": "Analyze with AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse AI analysis and save changes\nconst analysis = $input.all()[0].json.response || $input.all()[0].json;\nconst changes = $input.all()[0].json.changes;\nconst targetId = $input.all()[0].json.targetId;\n\n// Determine severity based on change type\nlet severity = 'low';\nlet changeType = 'commit';\n\nif (changes.find(c => c.type === 'releases')) {\n  severity = 'high';\n  changeType = 'release';\n} else if (changes.filter(c => c.type === 'commits').length > 5) {\n  severity = 'medium';\n}\n\nreturn {\n  targetId,\n  changeType,\n  severity,\n  title: `GitHub Activity: ${changes.map(c => c.type).join(', ')}`,\n  description: analysis.summary || 'Repository activity detected',\n  aiAnalysis: analysis,\n  relevanceScore: parseFloat(analysis.relevanceScore) || 0.5,\n  diffSummary: changes\n};"
      },
      "id": "prepare-change-record",
      "name": "Prepare Change Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO change_history (target_id, change_type, title, description, ai_analysis, relevance_score, severity, diff_summary) VALUES ($1, $2, $3, $4, $5, $6, $7, $8) RETURNING id",
        "options": {
          "queryParams": "={{ $json.targetId }}, {{ $json.changeType }}, {{ $json.title }}, {{ $json.description }}, {{ JSON.stringify($json.aiAnalysis) }}, {{ $json.relevanceScore }}, {{ $json.severity }}, {{ JSON.stringify($json.diffSummary) }}"
        }
      },
      "id": "save-github-change",
      "name": "Save GitHub Change",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE monitoring_targets SET last_checked = NOW(), last_content_hash = $1, config = $2 WHERE id = $3",
        "options": {
          "queryParams": "={{ $json.contentHash }}, {{ JSON.stringify($json.latestData) }}, {{ $json.targetId }}"
        }
      },
      "id": "update-github-target",
      "name": "Update Target",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1650, 500]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"status\": \"success\",\n  \"message\": \"GitHub repository checked\",\n  \"changeDetected\": {{ $json.changeDetected || false }},\n  \"changeId\": \"{{ $json.id }}\",\n  \"timestamp\": \"{{ $json.timestamp }}\"\n}",
        "options": {}
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [2250, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Parse Repository", "type": "main", "index": 0}]]
    },
    "Manual Trigger": {
      "main": [[{"node": "Provide Defaults", "type": "main", "index": 0}]]
    },
    "Provide Defaults": {
      "main": [[{"node": "Parse Repository", "type": "main", "index": 0}]]
    },
    "Parse Repository": {
      "main": [[
        {"node": "Fetch Recent Commits", "type": "main", "index": 0},
        {"node": "Fetch Releases", "type": "main", "index": 0}
      ]]
    },
    "Fetch Recent Commits": {
      "main": [[{"node": "Process GitHub Data", "type": "main", "index": 0}]]
    },
    "Fetch Releases": {
      "main": [[{"node": "Process GitHub Data", "type": "main", "index": 0}]]
    },
    "Process GitHub Data": {
      "main": [[{"node": "Get Last State", "type": "main", "index": 0}]]
    },
    "Get Last State": {
      "main": [[{"node": "Check for Changes", "type": "main", "index": 0}]]
    },
    "Check for Changes": {
      "main": [
        [{"node": "Analyze with AI", "type": "main", "index": 0}],
        [{"node": "Update Target", "type": "main", "index": 0}]
      ]
    },
    "Analyze with AI": {
      "main": [[{"node": "Prepare Change Record", "type": "main", "index": 0}]]
    },
    "Prepare Change Record": {
      "main": [[{"node": "Save GitHub Change", "type": "main", "index": 0}]]
    },
    "Save GitHub Change": {
      "main": [[{"node": "Response", "type": "main", "index": 0}]]
    },
    "Update Target": {
      "main": [[{"node": "Response", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}