scripts/scenarios/core/smart-file-photo-manager/initialization/n8n/file-embedding-generator.json
{
  "name": "Smart File Manager - Embedding Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smart-file-manager/generate-embeddings",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 500]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Provide test defaults for manual testing\nreturn {\n  file_id: 'test-file-001',\n  file_path: '/test/sample.txt',\n  content: 'This is a sample document about AI and machine learning technologies.',\n  metadata: {\n    type: 'document',\n    size: 1024,\n    created: new Date().toISOString()\n  }\n};"
      },
      "id": "set_test_defaults",
      "name": "Set Test Defaults",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 500]
    },
    {
      "parameters": {},
      "id": "merge_triggers",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [600, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/embedding-generator",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.content }}"
            },
            {
              "name": "model",
              "value": "nomic-embed-text"
            },
            {
              "name": "metadata",
              "value": "={{ JSON.stringify($json.metadata) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "call_embedding_generator",
      "name": "Call Shared Embedding Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [800, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO file_embeddings (file_id, embeddings, model_used, metadata, created_at) VALUES ($1, $2, $3, $4, $5) ON CONFLICT (file_id) DO UPDATE SET embeddings = $2, model_used = $3, metadata = $4, updated_at = CURRENT_TIMESTAMP",
        "options": {
          "queryParams": "={{ $json.file_id }},{{ JSON.stringify($json.embeddings) }},{{ $json.model || 'nomic-embed-text' }},{{ JSON.stringify($json.metadata) }},{{ new Date().toISOString() }}"
        }
      },
      "id": "store_embeddings",
      "name": "Store Embeddings in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:6333/collections/smart-file-manager/points",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "points",
              "value": "={{ [{ id: $json.file_id, vector: $json.embeddings, payload: { file_id: $json.file_id, file_path: $json.file_path, content_preview: $json.content.substring(0, 200), metadata: $json.metadata } }] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "store_in_qdrant",
      "name": "Store in Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"file_id\": $json.file_id, \"embeddings_generated\": true, \"vector_dimension\": $json.embeddings.length, \"stored_in_qdrant\": true, \"timestamp\": new Date().toISOString() } }}"
      },
      "id": "success_response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1400, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": { 
      "main": [[{ "node": "Merge Triggers", "type": "main", "index": 0 }]] 
    },
    "Manual Trigger": { 
      "main": [[{ "node": "Set Test Defaults", "type": "main", "index": 0 }]] 
    },
    "Set Test Defaults": { 
      "main": [[{ "node": "Merge Triggers", "type": "main", "index": 1 }]] 
    },
    "Merge Triggers": { 
      "main": [[{ "node": "Call Shared Embedding Generator", "type": "main", "index": 0 }]] 
    },
    "Call Shared Embedding Generator": { 
      "main": [[{ "node": "Store Embeddings in DB", "type": "main", "index": 0 }]] 
    },
    "Store Embeddings in DB": { 
      "main": [[{ "node": "Store in Qdrant", "type": "main", "index": 0 }]] 
    },
    "Store in Qdrant": { 
      "main": [[{ "node": "Success Response", "type": "main", "index": 0 }]] 
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "1",
  "id": "smart-file-embedding-generator",
  "meta": { "instanceId": "smart-file-manager" },
  "tags": [{ "id": "1", "name": "smart-file-manager" }, { "id": "2", "name": "embeddings" }]
}