scenarios/resume-screening-assistant/initialization/n8n/job-management-workflow.json
{
  "name": "Job Management Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "job-management",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "job-management",
      "id": "webhook_trigger"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 500],
      "id": "manual_trigger"
    },
    {
      "parameters": {
        "jsCode": "// Test defaults for manual trigger\nreturn {\n  action: 'create',\n  job_data: {\n    title: 'Senior Full-Stack Engineer',\n    company: 'TechCorp Inc.',\n    description: 'We are looking for a Senior Full-Stack Engineer with expertise in React, Node.js, and cloud technologies. The ideal candidate will have 5+ years of experience and a passion for building scalable applications.',\n    requirements: [\n      '5+ years of professional software development experience',\n      'Expert knowledge of React and modern JavaScript',\n      'Strong backend experience with Node.js',\n      'Experience with cloud platforms (AWS/GCP/Azure)',\n      'Excellent communication skills'\n    ],\n    location: 'Remote',\n    salary_range: '$120k - $180k',\n    employment_type: 'Full-time'\n  }\n};"
      },
      "name": "Set Test Defaults",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 500],
      "id": "set_defaults"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "trigger_check",
              "leftValue": "={{ $('Webhook Trigger').isExecuted }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Trigger Source",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 400],
      "id": "check_trigger"
    },
    {
      "parameters": {
        "jsCode": "// Route based on action type\nconst input = $input.first().json;\nconst validActions = ['create', 'update', 'delete', 'list', 'get', 'match'];\n\nif (!input.action || !validActions.includes(input.action)) {\n  throw new Error(`Invalid action. Must be one of: ${validActions.join(', ')}`);\n}\n\nreturn {\n  action: input.action,\n  job_id: input.job_id || null,\n  job_data: input.job_data || {},\n  filters: input.filters || {},\n  timestamp: new Date().toISOString()\n};"
      },
      "name": "Route Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 400],
      "id": "route_action"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "action_check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "create",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Is Create?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300],
      "id": "is_create"
    },
    {
      "parameters": {
        "jsCode": "// Validate job creation data\nconst jobData = $json.job_data;\nconst errors = [];\n\nif (!jobData.title || jobData.title.trim().length === 0) {\n  errors.push('Job title is required');\n}\nif (!jobData.company || jobData.company.trim().length === 0) {\n  errors.push('Company name is required');\n}\nif (!jobData.description || jobData.description.trim().length < 50) {\n  errors.push('Job description must be at least 50 characters');\n}\n\nif (errors.length > 0) {\n  throw new Error(`Validation failed: ${errors.join(', ')}`);\n}\n\n// Generate job ID\nconst jobId = 'job_' + Date.now() + '_' + Math.random().toString(36).substring(7);\n\nreturn {\n  job_id: jobId,\n  title: jobData.title.trim(),\n  company: jobData.company.trim(),\n  description: jobData.description.trim(),\n  requirements: jobData.requirements || [],\n  location: jobData.location || 'Not specified',\n  salary_range: jobData.salary_range || 'Competitive',\n  employment_type: jobData.employment_type || 'Full-time',\n  posted_date: new Date().toISOString(),\n  status: 'active'\n};"
      },
      "name": "Prepare Job Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300],
      "id": "prepare_job"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "jobs",
        "columns": "job_id,title,company,description,requirements,location,salary_range,employment_type,posted_date,status",
        "values": "={{ $json.job_id }},={{ $json.title }},={{ $json.company }},={{ $json.description }},={{ JSON.stringify($json.requirements) }},={{ $json.location }},={{ $json.salary_range }},={{ $json.employment_type }},={{ $json.posted_date }},={{ $json.status }}",
        "options": {
          "returnFields": "*"
        }
      },
      "name": "Create Job in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1400, 300],
      "credentials": {
        "postgres": {
          "id": "postgres_credentials",
          "name": "Postgres"
        }
      },
      "id": "create_job_db"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/ollama",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ 'Extract key skills and qualifications from this job description:\\n\\nTitle: ' + $json.title + '\\n\\nDescription: ' + $json.description + '\\n\\nRequirements: ' + JSON.stringify($json.requirements) + '\\n\\nProvide a JSON object with:\\n1. technical_skills (array)\\n2. soft_skills (array)\\n3. experience_level (junior/mid/senior)\\n4. domain (e.g., web development, data science, etc.)' }}"
            },
            {
              "name": "model",
              "value": "llama3.2"
            },
            {
              "name": "type",
              "value": "extraction"
            },
            {
              "name": "quiet",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "name": "Extract Job Skills",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 300],
      "id": "extract_skills"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "action_check",
              "leftValue": "={{ $('Route Action').item.json.action }}",
              "rightValue": "list",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Is List?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 500],
      "id": "is_list"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "jobs",
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "status",
              "condition": "=",
              "value": "={{ $('Route Action').item.json.filters.status || 'active' }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "posted_date",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "name": "List Jobs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1200, 500],
      "credentials": {
        "postgres": {
          "id": "postgres_credentials",
          "name": "Postgres"
        }
      },
      "id": "list_jobs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "action_check",
              "leftValue": "={{ $('Route Action').item.json.action }}",
              "rightValue": "match",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Is Match?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 700],
      "id": "is_match"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/smart-semantic-search",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ 'Find candidates matching job: ' + $('Route Action').item.json.job_id }}"
            },
            {
              "name": "collection",
              "value": "resumes"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "name": "Find Matching Candidates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 700],
      "id": "find_matches"
    },
    {
      "parameters": {
        "jsCode": "// Prepare response based on action\nconst action = $('Route Action').item.json.action;\nlet response = {\n  success: true,\n  action: action,\n  timestamp: new Date().toISOString()\n};\n\nif (action === 'create') {\n  const jobData = $('Create Job in DB').item.json;\n  const skills = $('Extract Job Skills').item.json.response;\n  response.job = {\n    ...jobData,\n    extracted_skills: skills\n  };\n  response.message = 'Job created successfully';\n} else if (action === 'list') {\n  const jobs = $('List Jobs').all().map(item => item.json);\n  response.jobs = jobs;\n  response.total = jobs.length;\n  response.message = `Found ${jobs.length} jobs`;\n} else if (action === 'match') {\n  const candidates = $('Find Matching Candidates').item.json.results || [];\n  response.matches = candidates;\n  response.job_id = $('Route Action').item.json.job_id;\n  response.message = `Found ${candidates.length} matching candidates`;\n} else {\n  response.message = 'Action completed';\n}\n\nreturn response;"
      },
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 400],
      "id": "prepare_response"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 400],
      "id": "respond"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Trigger Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Test Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Test Defaults": {
      "main": [
        [
          {
            "node": "Check Trigger Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Trigger Source": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Is Create?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is List?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Match?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Create?": {
      "main": [
        [
          {
            "node": "Prepare Job Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Job Data": {
      "main": [
        [
          {
            "node": "Create Job in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Job in DB": {
      "main": [
        [
          {
            "node": "Extract Job Skills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Skills": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is List?": {
      "main": [
        [
          {
            "node": "List Jobs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Jobs": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Match?": {
      "main": [
        [
          {
            "node": "Find Matching Candidates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Matching Candidates": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-01-16T08:00:00.000Z",
  "versionId": "c3d4e5f6-a7b8-9012-cdef-234567890123"
}