scenarios/resume-screening-assistant/initialization/n8n/resume-processing-pipeline.json
{
  "name": "Resume Processing Pipeline",
  "nodes": [
    {
      "parameters": {
        "path": "resume-process",
        "responseMode": "responseNode",
        "options": {
          "binaryData": true
        }
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "resume-process",
      "id": "webhook_trigger"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 500],
      "id": "manual_trigger"
    },
    {
      "parameters": {
        "jsCode": "// Test defaults for manual trigger\nreturn {\n  job_id: 'test-job-001',\n  candidate_name: 'John Doe',\n  resume_text: 'Senior Software Engineer with 10 years experience in full-stack development. Expertise in React, Node.js, Python, and cloud technologies. Led teams of 5-10 developers on multiple successful projects.',\n  file_name: 'john_doe_resume.pdf',\n  file_type: 'pdf'\n};"
      },
      "name": "Set Test Defaults",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 500],
      "id": "set_defaults"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "trigger_check",
              "leftValue": "={{ $('Webhook Trigger').isExecuted }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Trigger Source",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 400],
      "id": "check_trigger"
    },
    {
      "parameters": {
        "jsCode": "// Input validation and sanitization\nconst input = $input.first().json;\nconst errors = [];\nconst warnings = [];\n\n// Validate job_id\nif (!input.job_id || typeof input.job_id !== 'string') {\n  errors.push('Invalid or missing job_id');\n}\n\n// Validate candidate info\nif (!input.candidate_name && !input.resume_text) {\n  errors.push('Missing candidate information');\n}\n\n// File validation if binary data present\nif ($input.first().binary?.data) {\n  const binaryData = $input.first().binary.data;\n  const allowedTypes = ['.pdf', '.docx', '.doc', '.txt'];\n  const fileName = binaryData.fileName || '';\n  const ext = fileName.toLowerCase().match(/\\.[^.]+$/);\n  \n  if (ext && !allowedTypes.includes(ext[0])) {\n    errors.push(`Invalid file type: ${ext[0]}`);\n  }\n  \n  // Size check (10MB limit)\n  if (binaryData.data && Buffer.byteLength(binaryData.data, 'base64') > 10485760) {\n    errors.push('File exceeds 10MB limit');\n  }\n}\n\nif (errors.length > 0) {\n  throw new Error(`Validation failed: ${errors.join(', ')}`);\n}\n\nreturn {\n  valid: true,\n  job_id: input.job_id,\n  candidate_name: input.candidate_name || 'Unknown',\n  resume_text: input.resume_text || '',\n  file_info: {\n    name: input.file_name || 'resume.pdf',\n    type: input.file_type || 'unknown'\n  },\n  timestamp: new Date().toISOString()\n};"
      },
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 400],
      "id": "validate_input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/ollama",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ 'Extract key information from this resume:\\n\\n' + $json.resume_text + '\\n\\nProvide a structured analysis including:\\n1. Skills (technical and soft)\\n2. Years of experience\\n3. Education\\n4. Previous roles\\n5. Key achievements\\n\\nFormat as JSON.' }}"
            },
            {
              "name": "model",
              "value": "llama3.2"
            },
            {
              "name": "type",
              "value": "extraction"
            },
            {
              "name": "quiet",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "name": "Extract Resume Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 400],
      "id": "extract_info"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "candidates",
        "columns": "name,job_id,resume_data,extracted_info,skills,experience_years,education,uploaded_at",
        "values": "={{ $('Validate Input').item.json.candidate_name }},={{ $('Validate Input').item.json.job_id }},={{ $('Validate Input').item.json.resume_text }},={{ JSON.stringify($json.response) }},={{ $json.response.skills ? JSON.stringify($json.response.skills) : '[]' }},={{ $json.response.experience_years || 0 }},={{ $json.response.education || 'Not specified' }},={{ $('Validate Input').item.json.timestamp }}",
        "options": {}
      },
      "name": "Store in Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1200, 400],
      "credentials": {
        "postgres": {
          "id": "postgres_credentials",
          "name": "Postgres"
        }
      },
      "id": "store_candidate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/embedding-generator",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Validate Input').item.json.resume_text }}"
            },
            {
              "name": "model",
              "value": "nomic-embed-text"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "name": "Generate Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 600],
      "id": "generate_embeddings"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://localhost:6333/collections/resumes/points",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "points",
              "value": "={{ [{ id: $('Store in Database').item.json.id, vector: $json.embedding, payload: { candidate_name: $('Validate Input').item.json.candidate_name, job_id: $('Validate Input').item.json.job_id, skills: $('Extract Resume Info').item.json.response.skills || [] } }] }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "name": "Store in Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 600],
      "id": "store_embeddings"
    },
    {
      "parameters": {
        "jsCode": "// Prepare response\nconst candidateData = $('Store in Database').item.json;\nconst extractedInfo = $('Extract Resume Info').item.json.response;\nconst embeddingStored = $('Store in Qdrant').item.json.result === 'ok';\n\nreturn {\n  success: true,\n  candidate_id: candidateData.id,\n  message: 'Resume processed successfully',\n  details: {\n    candidate_name: $('Validate Input').item.json.candidate_name,\n    job_id: $('Validate Input').item.json.job_id,\n    skills_extracted: extractedInfo.skills?.length || 0,\n    experience_years: extractedInfo.experience_years || 0,\n    embedding_stored: embeddingStored,\n    timestamp: $('Validate Input').item.json.timestamp\n  }\n};"
      },
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 400],
      "id": "prepare_response"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1600, 400],
      "id": "respond"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Trigger Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Test Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Test Defaults": {
      "main": [
        [
          {
            "node": "Check Trigger Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Trigger Source": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Extract Resume Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume Info": {
      "main": [
        [
          {
            "node": "Store in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embeddings": {
      "main": [
        [
          {
            "node": "Store in Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Database": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Qdrant": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-01-16T08:00:00.000Z",
  "versionId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
}