scenarios/device-sync-hub/initialization/n8n/auth-middleware.json
{
  "name": "Device Sync Hub Auth Middleware",
  "nodes": [
    {
      "parameters": {},
      "id": "0e11b1ad-28db-4a4b-b0e8-7c8a2f9f2890",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "={{ $node.When called by another workflow.json.auth_service_url }}/api/v1/auth/validate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "headers": {
            "headers": [
              {
                "name": "Authorization",
                "value": "Bearer {{ $node.When called by another workflow.json.token }}"
              }
            ]
          },
          "timeout": 5000
        }
      },
      "id": "f1e8d5c7-42a6-4b2f-9e1c-8d7f6e5a4b3c",
      "name": "Validate Auth Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        460,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-validation-condition",
              "leftValue": "={{ $node['Validate Auth Token'].json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a3b2c1d0-5e4f-6789-abcd-ef1234567890",
      "name": "Check Auth Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract user information from successful auth validation\nconst authResult = $input.all()[0].json;\nconst inputData = $('When called by another workflow').all()[0].json;\n\n// Create success response with user context\nconst response = {\n  success: true,\n  authenticated: true,\n  user: {\n    id: authResult.user_id,\n    email: authResult.email,\n    roles: authResult.roles || []\n  },\n  token: {\n    valid: true,\n    expires_at: authResult.expires_at\n  },\n  request: {\n    original_data: inputData.original_data || {},\n    headers: inputData.headers || {}\n  },\n  timestamp: new Date().toISOString()\n};\n\nreturn response;"
      },
      "id": "b4c3d2e1-7f6e-5a4b-9c8d-1e2f3a4b5c6d",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Create error response for failed authentication\nconst authError = $input.all()[0];\nconst inputData = $('When called by another workflow').all()[0].json;\n\n// Determine error type and message\nlet errorMessage = 'Authentication failed';\nlet errorCode = 'AUTH_FAILED';\nlet httpStatus = 401;\n\nif (authError.error) {\n  // HTTP request failed\n  errorMessage = 'Authentication service unavailable';\n  errorCode = 'AUTH_SERVICE_ERROR';\n  httpStatus = 503;\n} else if (authError.json && authError.json.error) {\n  // Auth service returned error\n  errorMessage = authError.json.error;\n  errorCode = 'INVALID_TOKEN';\n} else if (authError.json && !authError.json.valid) {\n  // Token validation failed\n  errorMessage = 'Invalid or expired token';\n  errorCode = 'TOKEN_INVALID';\n}\n\nconst response = {\n  success: false,\n  authenticated: false,\n  error: {\n    message: errorMessage,\n    code: errorCode,\n    http_status: httpStatus\n  },\n  request: {\n    original_data: inputData.original_data || {},\n    headers: inputData.headers || {}\n  },\n  timestamp: new Date().toISOString()\n};\n\nreturn response;"
      },
      "id": "c5d4e3f2-8a9b-6c7d-8e9f-2a3b4c5d6e7f",
      "name": "Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "workflow_response",
              "value": "={{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d6e5f4a3-9b8c-7d6e-5f4a-3b2c1d0e9f8a",
      "name": "Format Success Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "workflow_response",
              "value": "={{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e7f6a5b4-0c9d-8e7f-6a5b-4c3d2e1f0a9b",
      "name": "Format Error Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1120,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "Validate Auth Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Auth Token": {
      "main": [
        [
          {
            "node": "Check Auth Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth Result": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Format Success Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response": {
      "main": [
        [
          {
            "node": "Format Error Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9a8b7c6d-5e4f-3210-9876-fedcba098765",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "device-sync-hub-auth-middleware",
  "tags": [
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "auth-middleware",
      "name": "auth-middleware"
    }
  ],
  "description": "Reusable authentication middleware for Device Sync Hub and other scenarios. Validates JWT tokens using scenario-authenticator service.\n\nInput Parameters:\n- token: JWT token to validate\n- auth_service_url: URL of the authentication service (default: http://localhost:3250)\n- original_data: Original request data to pass through\n- headers: Original request headers\n\nOutput:\nSuccess: { success: true, authenticated: true, user: {...}, token: {...}, request: {...} }\nError: { success: false, authenticated: false, error: {...}, request: {...} }\n\nUsage Examples:\n\n1. From Express.js middleware:\n```javascript\nconst authResult = await executeWorkflow('device-sync-hub-auth-middleware', {\n  token: req.headers.authorization?.replace('Bearer ', ''),\n  auth_service_url: 'http://localhost:3250',\n  original_data: req.body,\n  headers: req.headers\n});\n\nif (authResult.success) {\n  req.user = authResult.user;\n  next();\n} else {\n  res.status(authResult.error.http_status).json(authResult.error);\n}\n```\n\n2. From another n8n workflow:\n```json\n{\n  \"node\": \"Execute Workflow\",\n  \"parameters\": {\n    \"workflowId\": \"device-sync-hub-auth-middleware\",\n    \"data\": {\n      \"token\": \"{{ $json.headers.authorization.replace('Bearer ', '') }}\",\n      \"auth_service_url\": \"http://localhost:3250\",\n      \"original_data\": \"{{ $json }}\"\n    }\n  }\n}\n```\n\nThis workflow is designed to be reusable across multiple scenarios that need JWT authentication validation."
}