scenarios/scenario-to-extension/initialization/n8n/extension-testing.json
{
  "name": "Extension Testing Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "f8b7a8ea-7b4a-4e5d-9c1f-2e3d4f5g6h7i",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "extension-testing"
    },
    {
      "parameters": {
        "functionCode": "// Extract extension testing parameters\nconst extensionPath = items[0].json.extension_path;\nconst testSites = items[0].json.test_sites || ['https://example.com'];\nconst takeScreenshots = items[0].json.screenshot !== false;\n\n// Prepare browserless test configuration\nreturn testSites.map((site, index) => ({\n  json: {\n    extension_path: extensionPath,\n    test_site: site,\n    screenshot: takeScreenshots,\n    test_id: `test_${index}_${Date.now()}`\n  }\n}));"
      },
      "id": "a1b2c3d4-5e6f-7g8h-9i0j-1k2l3m4n5o6p",
      "name": "Prepare Test Cases",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "=resource-browserless",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "httpHeaderAuth": {
          "name": "Authorization",
          "value": "={{$credentials.browserless.token}}"
        },
        "requestMethod": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"url\": \"{{$json.test_site}}\",\n  \"options\": {\n    \"addStyleTag\": [\n      {\n        \"content\": \"body { border: 5px solid green; }\"\n      }\n    ],\n    \"screenshot\": {\n      \"type\": \"png\",\n      \"quality\": 90,\n      \"fullPage\": true\n    },\n    \"waitFor\": 2000\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b2c3d4e5-6f7g-8h9i-0j1k-2l3m4n5o6p7q",
      "name": "Test Extension Load",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "// Process browserless test results\nconst results = [];\n\nfor (const item of items) {\n  const testResult = {\n    test_id: item.json.test_id,\n    site: item.json.test_site,\n    success: item.json.statusCode === 200,\n    screenshot_data: null,\n    errors: []\n  };\n  \n  if (item.json.statusCode === 200) {\n    // Extension loaded successfully\n    testResult.screenshot_data = item.json.body;\n    \n    // Check for JavaScript errors in the response\n    if (item.json.body && item.json.body.includes('error')) {\n      testResult.errors.push('JavaScript errors detected in browser console');\n    }\n  } else {\n    // Extension failed to load\n    testResult.errors.push(`HTTP ${item.json.statusCode}: ${item.json.statusMessage}`);\n  }\n  \n  results.push({ json: testResult });\n}\n\nreturn results;"
      },
      "id": "c3d4e5f6-7g8h-9i0j-1k2l-3m4n5o6p7q8r",
      "name": "Process Test Results",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.success}}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "id": "d4e5f6g7-8h9i-0j1k-2l3m-4n5o6p7q8r9s",
      "name": "Test Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "path": "/tmp/extension-screenshots/{{$json.test_id}}.png",
        "fileName": "={{$json.test_id}}.png",
        "data": "={{$json.screenshot_data}}"
      },
      "id": "e5f6g7h8-9i0j-1k2l-3m4n-5o6p7q8r9s0t",
      "name": "Save Screenshot",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "functionCode": "// Generate test summary report\nconst allResults = items;\nconst totalTests = allResults.length;\nconst passedTests = allResults.filter(item => item.json.success).length;\nconst failedTests = totalTests - passedTests;\n\nconst summary = {\n  total_tests: totalTests,\n  passed: passedTests,\n  failed: failedTests,\n  success_rate: totalTests > 0 ? (passedTests / totalTests) * 100 : 0,\n  details: allResults.map(item => ({\n    site: item.json.site,\n    success: item.json.success,\n    errors: item.json.errors,\n    screenshot_path: item.json.success ? `/tmp/extension-screenshots/${item.json.test_id}.png` : null\n  })),\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: summary }];"
      },
      "id": "f6g7h8i9-0j1k-2l3m-4n5o-6p7q8r9s0t1u",
      "name": "Generate Test Report",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  \"success\": {{$json.failed === 0}},\n  \"summary\": {\n    \"total_tests\": {{$json.total_tests}},\n    \"passed\": {{$json.passed}},\n    \"failed\": {{$json.failed}},\n    \"success_rate\": {{$json.success_rate}}\n  },\n  \"test_results\": {{$json.details}},\n  \"report_generated\": \"{{$json.timestamp}}\"\n}}"
      },
      "id": "g7h8i9j0-1k2l-3m4n-5o6p-7q8r9s0t1u2v",
      "name": "Return Test Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "functionCode": "// Log extension test failure\nconsole.log('Extension test failed:', items[0].json);\n\n// Prepare failure report\nconst failureReport = {\n  test_id: items[0].json.test_id,\n  site: items[0].json.site, \n  errors: items[0].json.errors,\n  timestamp: new Date().toISOString(),\n  action_required: 'Review extension configuration and fix identified issues'\n};\n\nreturn [{ json: failureReport }];"
      },
      "id": "h8i9j0k1-2l3m-4n5o-6p7q-8r9s0t1u2v3w",
      "name": "Log Test Failure",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "httpHeaderAuth": {
          "name": "Authorization", 
          "value": "Bearer {{$credentials.scenario_api.token}}"
        },
        "requestMethod": "POST",
        "url": "={{$credentials.scenario_api.endpoint}}/api/v1/extension/test-failure",
        "jsonParameters": true,
        "bodyParametersJson": "={{$json}}"
      },
      "id": "i9j0k1l2-3m4n-5o6p-7q8r-9s0t1u2v3w4x",
      "name": "Report Failure to Scenario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1560, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Test Cases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Test Cases": {
      "main": [
        [
          {
            "node": "Test Extension Load",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Extension Load": {
      "main": [
        [
          {
            "node": "Process Test Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Test Results": {
      "main": [
        [
          {
            "node": "Test Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Passed?": {
      "main": [
        [
          {
            "node": "Save Screenshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Test Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Screenshot": {
      "main": [
        [
          {
            "node": "Generate Test Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Test Failure": {
      "main": [
        [
          {
            "node": "Report Failure to Scenario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Test Report": {
      "main": [
        [
          {
            "node": "Return Test Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Failure to Scenario": {
      "main": [
        [
          {
            "node": "Generate Test Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "extension-testing-workflow",
  "meta": {
    "instanceId": "scenario-to-extension"
  },
  "tags": [
    "extension-testing",
    "browserless",
    "automation"
  ]
}