scenarios/prompt-manager/initialization/n8n/prompt-enhancer.json
{
  "name": "Prompt Enhancer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prompt-enhancer",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 500]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Return test defaults for manual trigger\nreturn {\n  prompt: 'Write a function that adds two numbers',\n  enhancement_type: 'clarity',\n  context: 'software development',\n  target_audience: 'developers',\n  model: 'phi3.5:3.8b',\n  include_examples: true,\n  max_length: 500\n};"
      },
      "id": "set_test_defaults",
      "name": "Set Test Defaults",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [400, 500]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract and validate input parameters\nconst input = $input.item.json;\n\n// Extract parameters with defaults\nconst originalPrompt = input.prompt || '';\nconst enhancementType = input.enhancement_type || 'clarity';\nconst context = input.context || 'general';\nconst targetAudience = input.target_audience || 'general audience';\nconst model = input.model || 'phi3.5:3.8b';\nconst includeExamples = input.include_examples !== false;\nconst maxLength = input.max_length || 500;\n\n// Validate input\nif (!originalPrompt.trim()) {\n  throw new Error('Prompt is required');\n}\n\n// Enhancement type guidelines\nconst enhancementGuidelines = {\n  clarity: 'Make the prompt clearer, more specific, and unambiguous. Remove vague language and add precise requirements.',\n  creativity: 'Add creative elements while maintaining the core intent. Use engaging language and unique perspectives.',\n  technical: 'Add technical specifications, constraints, and implementation details. Include edge cases and performance considerations.',\n  conversational: 'Make it more natural, engaging, and human-like. Use conversational tone and relatable examples.',\n  structured: 'Add clear structure with numbered sections, bullet points, and logical flow. Organize information hierarchically.',\n  comprehensive: 'Expand to cover all aspects, edge cases, and considerations. Be thorough and complete.',\n  concise: 'Simplify and shorten while keeping essential information. Remove redundancy and wordiness.'\n};\n\nconst guideline = enhancementGuidelines[enhancementType] || enhancementGuidelines.clarity;\n\n// Build the enhancement prompt for the AI\nconst enhancementPrompt = `You are an expert prompt engineer specializing in prompt optimization.\n\nYour task is to enhance the following prompt according to specific guidelines.\n\n**Original Prompt:**\n${originalPrompt}\n\n**Context:** ${context}\n**Target Audience:** ${targetAudience}\n**Enhancement Type:** ${enhancementType}\n\n**Enhancement Guidelines:**\n${guideline}\n\n**Requirements:**\n1. Maintain the original intent and purpose\n2. Make it clear and actionable\n3. Keep the enhanced prompt under ${maxLength} words\n${includeExamples ? '4. Include at least one concrete example when relevant' : ''}\n\n**Output Format:**\nProvide your response as a valid JSON object with exactly these keys:\n{\n  \"enhanced_prompt\": \"The improved prompt text here\",\n  \"improvements\": [\"List of specific improvements made\"],\n  \"customizable_parameters\": [\"List of variables/parameters that users could customize\"],\n  \"usage_tips\": \"Brief advice on how to best use this prompt\"\n}\n\nIMPORTANT: Return ONLY the JSON object, no additional text or formatting.`;\n\nreturn {\n  enhancement_request: {\n    prompt: enhancementPrompt,\n    model: model,\n    type: 'reasoning',\n    quiet: true,\n    timeout_seconds: 60\n  },\n  original_data: {\n    original_prompt: originalPrompt,\n    enhancement_type: enhancementType,\n    context: context,\n    target_audience: targetAudience,\n    requested_at: new Date().toISOString()\n  }\n};"
      },
      "id": "prepare_enhancement",
      "name": "Prepare Enhancement Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [800, 400]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook/ollama",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.enhancement_request) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "call_ollama_workflow",
      "name": "Call Shared Ollama Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Process the Ollama response and structure final output\nconst ollamaResponse = $input.item.json;\nconst originalData = $node['Prepare Enhancement Request'].json.original_data;\n\nlet result = {\n  success: false,\n  original_prompt: originalData.original_prompt,\n  enhancement_type: originalData.enhancement_type,\n  context: originalData.context,\n  target_audience: originalData.target_audience,\n  requested_at: originalData.requested_at,\n  completed_at: new Date().toISOString()\n};\n\ntry {\n  // Check if Ollama execution was successful\n  if (!ollamaResponse.success) {\n    throw new Error(ollamaResponse.error?.message || 'Ollama execution failed');\n  }\n  \n  // Parse the AI response\n  const aiResponse = ollamaResponse.response;\n  \n  // Try to extract JSON from the response\n  let enhancedData;\n  try {\n    // First try direct JSON parse\n    enhancedData = JSON.parse(aiResponse);\n  } catch (e) {\n    // Try to find JSON in the text\n    const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      enhancedData = JSON.parse(jsonMatch[0]);\n    } else {\n      // Fallback: create structured data from plain text\n      const lines = aiResponse.split('\\n').filter(l => l.trim());\n      enhancedData = {\n        enhanced_prompt: lines[0] || originalData.original_prompt,\n        improvements: ['Enhancement applied based on ' + originalData.enhancement_type + ' guidelines'],\n        customizable_parameters: [],\n        usage_tips: 'Use this prompt as a starting point and adjust based on your specific needs'\n      };\n    }\n  }\n  \n  // Validate the enhanced data structure\n  if (!enhancedData.enhanced_prompt) {\n    enhancedData.enhanced_prompt = originalData.original_prompt;\n  }\n  \n  // Build successful result\n  result = {\n    success: true,\n    original_prompt: originalData.original_prompt,\n    enhanced_prompt: enhancedData.enhanced_prompt,\n    improvements: Array.isArray(enhancedData.improvements) ? enhancedData.improvements : [enhancedData.improvements || 'Enhanced for ' + originalData.enhancement_type],\n    customizable_parameters: Array.isArray(enhancedData.customizable_parameters) ? enhancedData.customizable_parameters : [],\n    usage_tips: enhancedData.usage_tips || '',\n    enhancement_type: originalData.enhancement_type,\n    context: originalData.context,\n    target_audience: originalData.target_audience,\n    model_used: ollamaResponse.request?.model || 'unknown',\n    processing_time_ms: ollamaResponse.execution?.execution_time_ms || 0,\n    requested_at: originalData.requested_at,\n    completed_at: new Date().toISOString()\n  };\n  \n  // Add metrics\n  result.metrics = {\n    original_length: originalData.original_prompt.length,\n    enhanced_length: result.enhanced_prompt.length,\n    length_change: result.enhanced_prompt.length - originalData.original_prompt.length,\n    improvements_count: result.improvements.length,\n    parameters_count: result.customizable_parameters.length\n  };\n  \n} catch (error) {\n  result.error = {\n    message: error.message,\n    details: 'Failed to process enhancement',\n    raw_response: ollamaResponse.response?.substring(0, 500) || 'No response'\n  };\n}\n\nreturn result;"
      },
      "id": "process_response",
      "name": "Process Enhancement Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check_success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1400, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "responseHeaders": {
          "entries": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "respond_success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1600, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "responseCode": 500,
        "responseHeaders": {
          "entries": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "respond_error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1600, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Enhancement Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Test Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Test Defaults": {
      "main": [
        [
          {
            "node": "Prepare Enhancement Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Enhancement Request": {
      "main": [
        [
          {
            "node": "Call Shared Ollama Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Shared Ollama Workflow": {
      "main": [
        [
          {
            "node": "Process Enhancement Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Enhancement Response": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "prompt-enhancer-v3",
  "id": "prompt-enhancer",
  "meta": {
    "instanceId": "prompt-manager"
  },
  "tags": ["prompt-management", "ai-enhancement", "shared-workflow"]
}