scripts/scenarios/core/mind-maps/initialization/n8n/auto-organize.json
{
  "name": "Mind Maps - Auto Organize",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mind-maps/auto-organize",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 500]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Provide test defaults for manual testing\nreturn {\n  mindmap_id: 'test-map-001',\n  content: 'New research about machine learning performance optimization techniques',\n  auto_link: true,\n  auto_categorize: true,\n  suggest_connections: true\n};"
      },
      "id": "set_test_defaults",
      "name": "Set Test Defaults",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [400, 500]
    },
    {
      "parameters": {},
      "id": "merge_triggers",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [600, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, data, parent_id FROM mindmap_nodes WHERE mindmap_id = $1",
        "additionalFields": {
          "queryParams": "={{ $json.mindmap_id }}"
        }
      },
      "id": "fetch_nodes",
      "name": "Fetch Existing Nodes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [800, 400],
      "credentials": {
        "postgres": {
          "id": "shared",
          "name": "Shared PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare the prompt for the shared Ollama workflow\nconst nodes = $json || [];\nconst prompt = 'Analyze these mind map nodes and suggest improvements:\\n\\nNodes:\\n' + \n  nodes.map(n => `- ${n.title} (parent: ${n.parent_id || 'none'})`).join('\\n') + \n  '\\n\\nProvide suggestions in JSON format with these fields:\\n' +\n  '1. new_connections: Array of {from_node_id, to_node_id, relationship_type}\\n' +\n  '2. reorganization: Array of {node_id, suggested_parent_id, reason}\\n' +\n  '3. new_nodes: Array of {content, suggested_parent_id, type}\\n' +\n  '4. clusters: Array of {name, node_ids, theme}\\n\\n' +\n  'Focus on logical groupings, missing connections, and knowledge gaps. Return only valid JSON.';\n\nreturn {\n  prompt: prompt,\n  model: 'llama3.2:3b',\n  type: 'reasoning',\n  quiet: true,\n  timeout_seconds: 120,\n  original_nodes: nodes\n};"
      },
      "name": "Prepare Ollama Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1000, 400],
      "id": "prepare_ollama_request"
    },
    {
      "parameters": {
        "workflowId": "={{ $env.SHARED_WORKFLOW_OLLAMA_ID }}",
        "source": "parameter",
        "workflowData": "={{ { \"prompt\": $json.prompt, \"model\": $json.model, \"type\": $json.type, \"quiet\": $json.quiet, \"timeout_seconds\": $json.timeout_seconds } }}"
      },
      "id": "analyze_structure",
      "name": "Analyze Structure with Ollama",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the response from the shared Ollama workflow\nconst ollamaResult = $json;\nconst ollamaOutput = ollamaResult.response || '';\n\n// Try to parse the JSON response\nlet suggestions = {};\ntry {\n  suggestions = JSON.parse(ollamaOutput);\n} catch (e) {\n  // If parsing fails, try to extract JSON from the output\n  const jsonMatch = ollamaOutput.match(/\\{[\\s\\S]*\\}/); \n  if (jsonMatch) {\n    try {\n      suggestions = JSON.parse(jsonMatch[0]);\n    } catch (e2) {\n      suggestions = {};\n    }\n  }\n}\n\n// Get nodes from the database fetch\nconst nodes = $('Fetch Existing Nodes').all().map(item => item.json);\n\n// Create a map for quick node lookup\nconst nodeMap = {};\nnodes.forEach(node => {\n  nodeMap[node.id] = node;\n});\n\n// Validate suggestions\nconst validatedSuggestions = {\n  new_connections: [],\n  reorganization: [],\n  new_nodes: suggestions.new_nodes || [],\n  clusters: suggestions.clusters || [],\n  execution_metadata: {\n    ollama_success: ollamaResult.success || false,\n    execution_time_ms: ollamaResult.execution?.execution_time_ms || 0,\n    model_used: ollamaResult.request?.model || 'unknown'\n  }\n};\n\n// Validate new connections\nif (suggestions.new_connections) {\n  suggestions.new_connections.forEach(conn => {\n    if (nodeMap[conn.from_node_id] && nodeMap[conn.to_node_id]) {\n      validatedSuggestions.new_connections.push(conn);\n    }\n  });\n}\n\n// Validate reorganization suggestions\nif (suggestions.reorganization) {\n  suggestions.reorganization.forEach(reorg => {\n    if (nodeMap[reorg.node_id] && (reorg.suggested_parent_id === null || nodeMap[reorg.suggested_parent_id])) {\n      validatedSuggestions.reorganization.push(reorg);\n    }\n  });\n}\n\nreturn validatedSuggestions;"
      },
      "name": "Validate Suggestions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1400, 400],
      "id": "validate_suggestions"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mind-maps/auto-organize-manual",
        "options": {}
      },
      "name": "Manual Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "id": "manual_webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "mind_map_id",
              "value": "test-map-123"
            }
          ],
          "boolean": [
            {
              "name": "apply_changes",
              "value": false
            }
          ]
        }
      },
      "name": "Default Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 500],
      "id": "default_params"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [450, 400],
      "id": "merge_inputs"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.apply_changes }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Should Apply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300],
      "id": "should_apply"
    },
    {
      "parameters": {
        "functionCode": "// Apply reorganization changes\nconst updates = [];\nconst suggestions = $json;\n\nif (suggestions.reorganization && suggestions.reorganization.length > 0) {\n  suggestions.reorganization.forEach(reorg => {\n    updates.push({\n      query: 'UPDATE mind_map_nodes SET parent_id = $1, updated_at = NOW() WHERE id = $2',\n      params: [reorg.suggested_parent_id, reorg.node_id]\n    });\n  });\n}\n\nreturn { updates, suggestions };"
      },
      "name": "Prepare Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1250, 250],
      "id": "prepare_updates"
    },
    {
      "parameters": {
        "operation": "execute",
        "query": "={{ $json.updates[0].query }}",
        "additionalFields": {
          "queryParams": "={{ $json.updates[0].params }}"
        }
      },
      "name": "Apply Updates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1450, 250],
      "id": "apply_updates",
      "credentials": {
        "postgres": {
          "id": "vrooli-postgres",
          "name": "Vrooli PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "={{ $json.apply_changes ? 'Changes applied successfully' : 'Suggestions generated (preview mode)' }}"
            }
          ]
        }
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1450, 350],
      "id": "format_response"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Test Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Webhook": {
      "main": [
        [
          {
            "node": "Default Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Test Defaults": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Default Params": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Fetch Existing Nodes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Existing Nodes": {
      "main": [
        [
          {
            "node": "Prepare Ollama Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Ollama Request": {
      "main": [
        [
          {
            "node": "Analyze Structure with Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Structure with Ollama": {
      "main": [
        [
          {
            "node": "Validate Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Suggestions": {
      "main": [
        [
          {
            "node": "Should Apply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Apply?": {
      "main": [
        [
          {
            "node": "Prepare Updates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Updates": {
      "main": [
        [
          {
            "node": "Apply Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Updates": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1.0.0",
  "triggerCount": 2,
  "tags": []
}