scenarios/invoice-generator/initialization/n8n/invoice-processor.json
{
  "name": "Invoice Processor",
  "nodes": [
    {
      "parameters": {
        "path": "invoice-process",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "invoice-process",
      "id": "webhook_trigger"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 500],
      "id": "manual_trigger"
    },
    {
      "parameters": {
        "jsCode": "// Test defaults for manual trigger\nreturn {\n  action: 'create',\n  invoice: {\n    client_name: 'Acme Corporation',\n    client_email: 'billing@acme.com',\n    client_address: '123 Business St, Suite 100, New York, NY 10001',\n    invoice_number: 'INV-2025-001',\n    issue_date: new Date().toISOString().split('T')[0],\n    due_date: new Date(Date.now() + 30*24*60*60*1000).toISOString().split('T')[0],\n    items: [\n      {\n        description: 'Web Development Services',\n        quantity: 40,\n        unit_price: 150,\n        tax_rate: 0.08\n      },\n      {\n        description: 'Design Consultation',\n        quantity: 10,\n        unit_price: 200,\n        tax_rate: 0.08\n      }\n    ],\n    currency: 'USD',\n    payment_terms: 'Net 30',\n    notes: 'Thank you for your business!'\n  }\n};"
      },
      "name": "Set Test Defaults",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 500],
      "id": "set_defaults"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "trigger_check",
              "leftValue": "={{ $('Webhook Trigger').isExecuted }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Trigger Source",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 400],
      "id": "check_trigger"
    },
    {
      "parameters": {
        "jsCode": "// Calculate invoice totals and validate\nconst input = $input.first().json;\nconst invoice = input.invoice;\n\nif (!invoice) {\n  throw new Error('Invoice data is required');\n}\n\n// Validate required fields\nconst required = ['client_name', 'items'];\nfor (const field of required) {\n  if (!invoice[field]) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\nif (!invoice.items || invoice.items.length === 0) {\n  throw new Error('Invoice must have at least one item');\n}\n\n// Calculate totals\nlet subtotal = 0;\nlet totalTax = 0;\nconst processedItems = [];\n\nfor (const item of invoice.items) {\n  const itemTotal = (item.quantity || 1) * (item.unit_price || 0);\n  const taxAmount = itemTotal * (item.tax_rate || 0);\n  \n  processedItems.push({\n    ...item,\n    item_total: itemTotal,\n    tax_amount: taxAmount,\n    total_with_tax: itemTotal + taxAmount\n  });\n  \n  subtotal += itemTotal;\n  totalTax += taxAmount;\n}\n\nconst total = subtotal + totalTax;\n\nreturn {\n  action: input.action || 'create',\n  invoice: {\n    ...invoice,\n    invoice_number: invoice.invoice_number || `INV-${Date.now()}`,\n    issue_date: invoice.issue_date || new Date().toISOString().split('T')[0],\n    due_date: invoice.due_date || new Date(Date.now() + 30*24*60*60*1000).toISOString().split('T')[0],\n    items: processedItems,\n    subtotal: subtotal,\n    total_tax: totalTax,\n    total: total,\n    currency: invoice.currency || 'USD',\n    status: invoice.status || 'draft',\n    created_at: new Date().toISOString()\n  }\n};"
      },
      "name": "Calculate Invoice Totals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 400],
      "id": "calculate_totals"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.action === 'create' ? \n  `INSERT INTO invoices (\n    invoice_number, client_name, client_email, client_address,\n    issue_date, due_date, subtotal, total_tax, total,\n    currency, status, payment_terms, notes, items, created_at\n  ) VALUES (\n    '${$json.invoice.invoice_number}',\n    '${$json.invoice.client_name}',\n    '${$json.invoice.client_email || ''}',\n    '${$json.invoice.client_address || ''}',\n    '${$json.invoice.issue_date}',\n    '${$json.invoice.due_date}',\n    ${$json.invoice.subtotal},\n    ${$json.invoice.total_tax},\n    ${$json.invoice.total},\n    '${$json.invoice.currency}',\n    '${$json.invoice.status}',\n    '${$json.invoice.payment_terms || ''}',\n    '${$json.invoice.notes || ''}',\n    '${JSON.stringify($json.invoice.items)}',\n    '${$json.invoice.created_at}'\n  ) RETURNING *`\n  : $json.action === 'update' ?\n  `UPDATE invoices SET\n    client_name = '${$json.invoice.client_name}',\n    client_email = '${$json.invoice.client_email || ''}',\n    client_address = '${$json.invoice.client_address || ''}',\n    due_date = '${$json.invoice.due_date}',\n    subtotal = ${$json.invoice.subtotal},\n    total_tax = ${$json.invoice.total_tax},\n    total = ${$json.invoice.total},\n    status = '${$json.invoice.status}',\n    payment_terms = '${$json.invoice.payment_terms || ''}',\n    notes = '${$json.invoice.notes || ''}',\n    items = '${JSON.stringify($json.invoice.items)}',\n    updated_at = NOW()\n  WHERE invoice_number = '${$json.invoice.invoice_number}'\n  RETURNING *`\n  : `SELECT * FROM invoices WHERE invoice_number = '${$json.invoice.invoice_number}'`\n}}",
        "options": {}
      },
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1000, 400],
      "credentials": {
        "postgres": {
          "id": "postgres_invoice_generator",
          "name": "Invoice Generator DB"
        }
      },
      "id": "save_to_db"
    },
    {
      "parameters": {
        "jsCode": "// Format response\nconst result = $input.first().json;\n\nreturn {\n  success: true,\n  message: `Invoice ${result.invoice_number} ${$('Calculate Invoice Totals').first().json.action === 'create' ? 'created' : 'updated'} successfully`,\n  invoice: {\n    id: result.id,\n    invoice_number: result.invoice_number,\n    client_name: result.client_name,\n    client_email: result.client_email,\n    total: result.total,\n    currency: result.currency,\n    status: result.status,\n    issue_date: result.issue_date,\n    due_date: result.due_date,\n    pdf_url: `/api/invoices/${result.invoice_number}/pdf`\n  }\n};"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400],
      "id": "format_response"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1400, 400],
      "id": "respond"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Trigger Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Test Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Test Defaults": {
      "main": [
        [
          {
            "node": "Check Trigger Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Trigger Source": {
      "main": [
        [
          {
            "node": "Calculate Invoice Totals",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Invoice Totals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Invoice Totals": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "invoice-processor-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "invoice-generator"
  },
  "id": "invoice-processor",
  "tags": []
}