scripts/resources/automation/node-red/flows/vrooli-resource-monitor.json
[
    {
        "id": "tab-main",
        "type": "tab",
        "label": "Vrooli Resource Monitor",
        "disabled": false,
        "info": "Monitors health status of all Vrooli resources"
    },
    {
        "id": "inject-timer",
        "type": "inject",
        "z": "tab-main",
        "name": "Monitor Timer",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            ["split-to-resources"]
        ]
    },
    {
        "id": "split-to-resources",
        "type": "function",
        "z": "tab-main",
        "name": "Split to Resources",
        "func": "// Define all Vrooli resources to monitor\nconst resources = [\n    {\n        name: \"ollama\",\n        category: \"ai\",\n        url: \"http://172.21.0.1:11434/api/tags\",\n        port: 11434,\n        description: \"Local LLM inference\"\n    },\n    {\n        name: \"whisper\",\n        category: \"ai\", \n        url: \"http://172.21.0.1:8090/health\",\n        port: 8090,\n        description: \"Speech-to-text transcription\"\n    },\n    {\n        name: \"comfyui\",\n        category: \"ai\",\n        url: \"http://172.21.0.1:8188/\",\n        port: 8188,\n        description: \"AI image generation\"\n    },\n    {\n        name: \"n8n\",\n        category: \"automation\",\n        url: \"http://172.21.0.1:5678/\",\n        port: 5678,\n        description: \"Visual workflow automation\"\n    },\n    {\n        name: \"node-red\",\n        category: \"automation\",\n        url: \"http://localhost:1880/\",\n        port: 1880,\n        description: \"Flow-based programming\"\n    },\n    {\n        name: \"huginn\",\n        category: \"automation\",\n        url: \"http://172.21.0.1:4111/\",\n        port: 4111,\n        description: \"Agent-based event processing\"\n    },\n    {\n        name: \"agent-s2\",\n        category: \"agents\",\n        url: \"http://172.21.0.1:4113/health\",\n        port: 4113,\n        description: \"Autonomous screen interaction\"\n    },\n    {\n        name: \"browserless\",\n        category: \"agents\",\n        url: \"http://172.21.0.1:4110/pressure\",\n        port: 4110,\n        description: \"Chrome-as-a-service automation\"\n    },\n    {\n        name: \"minio\",\n        category: \"storage\",\n        url: \"http://172.21.0.1:9000/minio/health/live\",\n        port: 9000,\n        description: \"S3-compatible object storage\"\n    }\n];\n\n// Send each resource as a separate message\nconst messages = resources.map(resource => ({\n    payload: resource,\n    topic: resource.name\n}));\n\nreturn [messages];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            ["set-url"]
        ]
    },
    {
        "id": "set-url",
        "type": "function",
        "z": "tab-main",
        "name": "Set URL",
        "func": "// Set the URL from the resource data and preserve resource info\nmsg.url = msg.payload.url;\nmsg.resource = msg.payload;  // preserve resource data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 100,
        "wires": [
            ["check-resource-health"]
        ]
    },
    {
        "id": "check-resource-health", 
        "type": "http request",
        "z": "tab-main",
        "name": "Check Health",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "timeout": 5000,
        "headers": [],
        "x": 670,
        "y": 100,
        "wires": [
            ["process-success"],
            ["process-error"]
        ]
    },
    {
        "id": "process-success",
        "type": "function",
        "z": "tab-main",
        "name": "Process Success",
        "func": "const resource = msg.resource;\nconst now = new Date();\n\n// Check if it's actually successful\nconst isHealthy = msg.statusCode >= 200 && msg.statusCode < 400;\n\nconst result = {\n    name: resource.name,\n    category: resource.category,\n    status: isHealthy ? \"healthy\" : \"unhealthy\",\n    url: resource.url,\n    port: resource.port,\n    description: resource.description,\n    responseTime: msg.responseTime || 0,\n    statusCode: msg.statusCode || 200,\n    lastChecked: now.toISOString(),\n    timestamp: now.getTime(),\n    response: msg.payload ? msg.payload.substring(0, 200) : \"OK\"\n};\n\n// Store in global context for dashboard\nlet healthData = global.get('resourceHealth') || {};\nhealthData[resource.name] = result;\nglobal.set('resourceHealth', healthData);\n\n// Send for aggregation\nmsg.payload = result;\nmsg.topic = \"health-update\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 100,
        "wires": [
            ["aggregate-results"]
        ]
    },
    {
        "id": "process-error",
        "type": "function", 
        "z": "tab-main",
        "name": "Process Error",
        "func": "const resource = msg.resource;\nconst now = new Date();\n\nconst result = {\n    name: resource.name,\n    category: resource.category,\n    status: \"unhealthy\",\n    url: resource.url,\n    port: resource.port,\n    description: resource.description,\n    error: msg.error ? msg.error.message : \"Connection failed\",\n    statusCode: msg.statusCode || 0,\n    lastChecked: now.toISOString(),\n    timestamp: now.getTime()\n};\n\n// Store in global context for dashboard\nlet healthData = global.get('resourceHealth') || {};\nhealthData[resource.name] = result;\nglobal.set('resourceHealth', healthData);\n\n// Send for aggregation\nmsg.payload = result;\nmsg.topic = \"health-update\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 160,
        "wires": [
            ["aggregate-results"]
        ]
    },
    {
        "id": "aggregate-results",
        "type": "join",
        "z": "tab-main",
        "name": "Aggregate Results",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "9",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1000,
        "y": 130,
        "wires": [
            ["format-summary"]
        ]
    },
    {
        "id": "format-summary",
        "type": "function",
        "z": "tab-main",
        "name": "Format Summary",
        "func": "const results = msg.payload;\nconst now = new Date();\n\n// Count status\nlet healthy = 0;\nlet unhealthy = 0;\nlet totalResponseTime = 0;\n\nresults.forEach(resource => {\n    if (resource.status === \"healthy\") {\n        healthy++;\n        totalResponseTime += resource.responseTime || 0;\n    } else {\n        unhealthy++;\n    }\n});\n\nconst summary = {\n    timestamp: now.toISOString(),\n    totalResources: results.length,\n    healthy: healthy,\n    unhealthy: unhealthy,\n    healthPercentage: Math.round((healthy / results.length) * 100),\n    averageResponseTime: healthy > 0 ? Math.round(totalResponseTime / healthy) : 0,\n    resources: results,\n    status: unhealthy === 0 ? \"all-healthy\" : unhealthy < results.length ? \"partial\" : \"all-down\"\n};\n\n// Store summary in global context\nglobal.set('resourceSummary', summary);\n\nmsg.payload = summary;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 130,
        "wires": [
            ["debug-summary", "http-endpoint-out"]
        ]
    },
    {
        "id": "debug-summary",
        "type": "debug",
        "z": "tab-main",
        "name": "Debug Summary",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 100,
        "wires": []
    },
    {
        "id": "http-get-status",
        "type": "http in",
        "z": "tab-main",
        "name": "GET /api/resources/status",
        "url": "/api/resources/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 280,
        "wires": [
            ["return-current-status"]
        ]
    },
    {
        "id": "return-current-status",
        "type": "function",
        "z": "tab-main",
        "name": "Return Current Status",
        "func": "const summary = global.get('resourceSummary') || {\n    error: \"No data available yet\",\n    message: \"Resource monitoring not started or no data collected\"\n};\n\nmsg.payload = summary;\nmsg.statusCode = 200;\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Access-Control-Allow-Origin\": \"*\"\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 280,
        "wires": [
            ["http-endpoint-out"]
        ]
    },
    {
        "id": "http-endpoint-out",
        "type": "http response",
        "z": "tab-main",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1450,
        "y": 160,
        "wires": []
    },
    {
        "id": "manual-trigger",
        "type": "inject",
        "z": "tab-main",
        "name": "Manual Check",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            ["split-to-resources"]
        ]
    }
]