scripts/scenarios/core/app-monitor/initialization/n8n/app-health-monitor.json
{
  "name": "App Health Monitor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "app-health-check",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 500]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Return test defaults for manual trigger\nreturn {\n  app_id: null,  // null means check all apps\n  force_check: false,\n  include_metrics: true,\n  alert_threshold: 3,  // Number of failures before alert\n  ai_analysis: true  // Use AI to analyze unhealthy apps\n};"
      },
      "id": "set_test_defaults",
      "name": "Set Test Defaults",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [400, 500]
    },
    {
      "parameters": {},
      "id": "merge_triggers",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [600, 400]
    },
    {
      "parameters": {
        "operation": "select",
        "table": "apps",
        "where": {
          "conditions": [
            {
              "column": "status",
              "value": "running"
            }
          ]
        },
        "options": {}
      },
      "id": "get_running_apps",
      "name": "Get Running Apps",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [800, 400],
      "credentials": {}
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "process_each_app",
      "name": "Process Each App",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "url": "=http://localhost:{{ $json.port_mappings?.api || 8080 }}/health",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "health_check_request",
      "name": "Health Check Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const app = $('Get Running Apps').item.json;\nconst response = $input.item.json;\nconst includeMetrics = $('Merge Triggers').item.json.include_metrics;\n\n// Calculate health score\nlet healthScore = 0;\nif (response.statusCode === 200) {\n  healthScore = 100;\n} else if (response.statusCode >= 500) {\n  healthScore = 0;\n} else if (response.statusCode >= 400) {\n  healthScore = 25;\n} else if (response.statusCode >= 300) {\n  healthScore = 50;\n} else {\n  healthScore = 75;\n}\n\n// Get response time\nconst responseTime = response.responseTime || 0;\n\n// Determine status\nlet status = 'healthy';\nif (healthScore < 50) {\n  status = 'unhealthy';\n} else if (healthScore < 75) {\n  status = 'degraded';\n}\n\n// Get previous failures count\nconst previousFailures = app.consecutive_failures || 0;\nconst currentFailures = status === 'unhealthy' ? previousFailures + 1 : 0;\n\nreturn {\n  app_id: app.id,\n  app_name: app.name,\n  status: status,\n  health_score: healthScore,\n  status_code: response.statusCode || 0,\n  response_time: responseTime,\n  consecutive_failures: currentFailures,\n  last_check: new Date().toISOString(),\n  include_metrics: includeMetrics,\n  error_message: response.error || null,\n  should_alert: currentFailures >= ($('Merge Triggers').item.json.alert_threshold || 3),\n  requires_ai_analysis: status === 'unhealthy' && $('Merge Triggers').item.json.ai_analysis\n};"
      },
      "id": "calculate_health_score",
      "name": "Calculate Health Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1400, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.requires_ai_analysis }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check_ai_analysis",
      "name": "Needs AI Analysis?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1600, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.SERVICE_N8N_URL }}/webhook/ollama",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  prompt: `Analyze this unhealthy application status and suggest fixes:\n\nApp: ${$json.app_name}\nStatus Code: ${$json.status_code}\nError: ${$json.error_message || 'No specific error'}\nConsecutive Failures: ${$json.consecutive_failures}\n\nProvide:\n1. Likely root cause\n2. Immediate actions to take\n3. Long-term prevention measures\n\nBe concise and actionable.`,\n  model: 'phi3.5:3.8b',\n  type: 'reasoning',\n  quiet: true,\n  timeout_seconds: 30\n}) }}",
        "options": {
          "timeout": 35000
        }
      },
      "id": "ai_analysis",
      "name": "AI Analysis (Shared Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1800, 320]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const healthData = $('Calculate Health Score').item.json;\nconst aiAnalysis = $input.item?.json?.response || null;\n\n// Merge health data with AI analysis\nreturn {\n  ...healthData,\n  ai_analysis: aiAnalysis,\n  ai_analyzed_at: aiAnalysis ? new Date().toISOString() : null\n};"
      },
      "id": "merge_with_ai",
      "name": "Merge with AI Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [2000, 320]
    },
    {
      "parameters": {},
      "id": "merge_analysis_paths",
      "name": "Merge Analysis Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [2200, 400]
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": "app_health_status",
        "updateKey": "app_id",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "app_id": "={{ $json.app_id }}",
            "app_name": "={{ $json.app_name }}",
            "status": "={{ $json.status }}",
            "health_score": "={{ $json.health_score }}",
            "status_code": "={{ $json.status_code }}",
            "response_time": "={{ $json.response_time }}",
            "consecutive_failures": "={{ $json.consecutive_failures }}",
            "last_check": "={{ $json.last_check }}",
            "error_message": "={{ $json.error_message }}",
            "ai_analysis": "={{ $json.ai_analysis }}",
            "ai_analyzed_at": "={{ $json.ai_analyzed_at }}"
          },
          "schema": []
        },
        "options": {}
      },
      "id": "update_health_status",
      "name": "Update Health Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2400, 400],
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.should_alert }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check_alert",
      "name": "Should Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2600, 400]
    },
    {
      "parameters": {
        "channel": "app-health-alerts",
        "messageKey": "={{ 'alert:' + $json.app_id }}",
        "value": "={{ JSON.stringify($json) }}",
        "ttl": 3600
      },
      "id": "send_alert",
      "name": "Send Alert to Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2800, 320],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "app_health_alerts",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "app_id": "={{ $json.app_id }}",
            "app_name": "={{ $json.app_name }}",
            "alert_type": "health_failure",
            "severity": "={{ $json.consecutive_failures >= 5 ? 'critical' : 'warning' }}",
            "message": "={{ 'App ' + $json.app_name + ' has failed ' + $json.consecutive_failures + ' consecutive health checks' }}",
            "ai_analysis": "={{ $json.ai_analysis }}",
            "created_at": "={{ $now }}"
          },
          "schema": []
        },
        "options": {}
      },
      "id": "log_alert",
      "name": "Log Alert to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [3000, 320],
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $('Process Each App').context['noItemsLeft'] }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check_loop_complete",
      "name": "All Apps Processed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3200, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Generate summary of health check run\nconst allStatuses = $('Update Health Status').all();\n\nconst summary = {\n  total_apps_checked: allStatuses.length,\n  healthy: allStatuses.filter(item => item.json.status === 'healthy').length,\n  degraded: allStatuses.filter(item => item.json.status === 'degraded').length,\n  unhealthy: allStatuses.filter(item => item.json.status === 'unhealthy').length,\n  alerts_sent: allStatuses.filter(item => item.json.should_alert).length,\n  ai_analyses_performed: allStatuses.filter(item => item.json.ai_analysis).length,\n  timestamp: new Date().toISOString()\n};\n\nreturn summary;"
      },
      "id": "generate_summary",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [3400, 320]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "text": "={{ JSON.stringify($json, null, 2) }}"
      },
      "id": "respond_to_webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3600, 320]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Test Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Test Defaults": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Get Running Apps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Running Apps": {
      "main": [
        [
          {
            "node": "Process Each App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each App": {
      "main": [
        [
          {
            "node": "Health Check Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check Request": {
      "main": [
        [
          {
            "node": "Calculate Health Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Health Score": {
      "main": [
        [
          {
            "node": "Needs AI Analysis?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs AI Analysis?": {
      "main": [
        [
          {
            "node": "AI Analysis (Shared Ollama)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Analysis Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Analysis (Shared Ollama)": {
      "main": [
        [
          {
            "node": "Merge with AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge with AI Analysis": {
      "main": [
        [
          {
            "node": "Merge Analysis Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Analysis Paths": {
      "main": [
        [
          {
            "node": "Update Health Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Health Status": {
      "main": [
        [
          {
            "node": "Should Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Alert?": {
      "main": [
        [
          {
            "node": "Send Alert to Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Apps Processed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert to Redis": {
      "main": [
        [
          {
            "node": "Log Alert to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Alert to Database": {
      "main": [
        [
          {
            "node": "All Apps Processed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Apps Processed?": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Each App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-15T00:00:00.000Z",
  "updatedAt": "2025-01-15T00:00:00.000Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "description": "Advanced health monitoring for all running apps with AI-powered analysis"
  },
  "pinData": {},
  "versionId": "2"
}