scenarios/notification-hub/initialization/n8n/notification-router-workflow.json
{
  "name": "Notification Router",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "notification-router"
    },
    {
      "parameters": {},
      "id": "manual-trigger", 
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 450]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "profile_id",
              "value": "00000000-0000-0000-0000-000000000001"
            },
            {
              "name": "contact_id", 
              "value": "10000000-0000-0000-0000-000000000001"
            },
            {
              "name": "template_id",
              "value": "20000000-0000-0000-0000-000000000003"
            },
            {
              "name": "priority",
              "value": "normal"
            }
          ],
          "array": [
            {
              "name": "channels_requested",
              "value": ["email", "push"]
            }
          ],
          "object": [
            {
              "name": "variables",
              "value": {
                "alert_title": "Test Alert",
                "alert_message": "This is a test notification",
                "severity": "LOW",
                "timestamp": "{{ $now.toISO() }}",
                "organization_name": "Demo Organization"
              }
            }
          ]
        }
      },
      "id": "default-data",
      "name": "Default Test Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [400, 450]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "webhook-data-check",
              "leftValue": "={{ $('Webhook Trigger').item }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "data-source-check",
      "name": "Check Data Source",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 375]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  n.id,\n  p.id as profile_id,\n  p.name as profile_name,\n  p.api_key_prefix,\n  c.id as contact_id,\n  c.identifier,\n  c.first_name,\n  c.last_name,\n  c.preferences as contact_preferences,\n  t.id as template_id,\n  t.name as template_name,\n  t.channels as template_channels,\n  t.subject as template_subject,\n  t.content as template_content,\n  t.variables as template_variables\nFROM notifications n\nJOIN profiles p ON n.profile_id = p.id\nJOIN contacts c ON n.contact_id = c.id\nLEFT JOIN templates t ON n.template_id = t.id\nWHERE n.id = '{{ $json.notification_id }}'\nAND p.status = 'active'\nAND c.status = 'active'",
        "options": {}
      },
      "id": "load-notification-data",
      "name": "Load Notification Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [800, 375],
      "credentials": {
        "postgres": {
          "id": "postgres-notification-hub",
          "name": "PostgreSQL - Notification Hub"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all()[0].json;\n\n// Merge webhook/manual data\nconst notification = {\n  profile_id: data.profile_id,\n  contact_id: data.contact_id, \n  template_id: data.template_id,\n  channels_requested: data.channels_requested || ['email'],\n  priority: data.priority || 'normal',\n  variables: data.variables || {},\n  subject: data.subject,\n  content: data.content\n};\n\n// If we have template data, merge it\nif (data.template_content) {\n  const templateContent = JSON.parse(data.template_content);\n  const templateVariables = JSON.parse(data.template_variables || '{}');\n  \n  // Merge template variables with provided variables\n  notification.variables = { ...templateVariables, ...notification.variables };\n  \n  // Use template content if not provided\n  if (!notification.content) {\n    notification.content = templateContent;\n  }\n  \n  if (!notification.subject && data.template_subject) {\n    notification.subject = data.template_subject;\n  }\n}\n\n// Apply variable substitution to subject\nif (notification.subject) {\n  let subject = notification.subject;\n  Object.keys(notification.variables).forEach(key => {\n    const regex = new RegExp(`{{\\\\s*${key}\\\\s*}}`, 'g');\n    subject = subject.replace(regex, notification.variables[key]);\n  });\n  notification.subject = subject;\n}\n\n// Apply variable substitution to content for each channel\nif (notification.content) {\n  Object.keys(notification.content).forEach(channel => {\n    if (typeof notification.content[channel] === 'object') {\n      Object.keys(notification.content[channel]).forEach(format => {\n        let content = notification.content[channel][format];\n        Object.keys(notification.variables).forEach(key => {\n          const regex = new RegExp(`{{\\\\s*${key}\\\\s*}}`, 'g');\n          content = content.replace(regex, notification.variables[key]);\n        });\n        notification.content[channel][format] = content;\n      });\n    }\n  });\n}\n\n// Determine which channels to actually use based on contact preferences\nconst contactPrefs = JSON.parse(data.contact_preferences || '{}');\nconst finalChannels = notification.channels_requested.filter(channel => {\n  return contactPrefs[channel] !== false; // Allow if not explicitly disabled\n});\n\nnotification.channels_final = finalChannels;\n\n// Add contact info\nnotification.contact_info = {\n  identifier: data.identifier,\n  first_name: data.first_name,\n  last_name: data.last_name,\n  full_name: [data.first_name, data.last_name].filter(Boolean).join(' ')\n};\n\n// Add profile info\nnotification.profile_info = {\n  name: data.profile_name,\n  api_key_prefix: data.api_key_prefix\n};\n\n// Create output items for each channel\nconst outputs = notification.channels_final.map(channel => ({\n  json: {\n    ...notification,\n    current_channel: channel,\n    channel_content: notification.content[channel] || {},\n    notification_id: data.notification_id || `temp-${Date.now()}-${Math.random().toString(36).substr(2, 9)}`\n  }\n}));\n\nreturn outputs;"
      },
      "id": "process-notification-data", 
      "name": "Process Notification Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 375]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "email-channel-check",
              "leftValue": "={{ $json.current_channel }}",
              "rightValue": "email",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "email-channel-switch",
      "name": "Email Channel",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 275]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sms-channel-check", 
              "leftValue": "={{ $json.current_channel }}",
              "rightValue": "sms",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sms-channel-switch",
      "name": "SMS Channel", 
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 375]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "push-channel-check",
              "leftValue": "={{ $json.current_channel }}",
              "rightValue": "push",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "push-channel-switch",
      "name": "Push Channel",
      "type": "n8n-nodes-base.if", 
      "typeVersion": 2,
      "position": [1200, 475]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://{{ $vars.n8n.url }}/webhook/email-sender",
        "options": {
          "timeout": 30000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      },
      "id": "send-to-email-workflow",
      "name": "Send to Email Workflow", 
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://{{ $vars.n8n.url }}/webhook/sms-sender",
        "options": {
          "timeout": 30000
        },
        "sendBody": true,
        "specifyBody": "json", 
        "jsonBody": "={{ $json }}"
      },
      "id": "send-to-sms-workflow",
      "name": "Send to SMS Workflow",
      "type": "n8n-nodes-base.httpRequest", 
      "typeVersion": 4.2,
      "position": [1400, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://{{ $vars.n8n.url }}/webhook/push-sender",
        "options": {
          "timeout": 30000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      },
      "id": "send-to-push-workflow",
      "name": "Send to Push Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE notifications \nSET \n  status = 'sending',\n  channels_attempted = ARRAY['{{ $json.channels_final.join(\"', '\") }}'],\n  updated_at = NOW()\nWHERE id = '{{ $json.notification_id }}'",
        "options": {}
      },
      "id": "update-notification-status",
      "name": "Update Notification Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1600, 375],
      "credentials": {
        "postgres": {
          "id": "postgres-notification-hub",
          "name": "PostgreSQL - Notification Hub"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Data Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Default Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Test Data": {
      "main": [
        [
          {
            "node": "Check Data Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Source": {
      "main": [
        [
          {
            "node": "Load Notification Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Notification Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Notification Data": {
      "main": [
        [
          {
            "node": "Process Notification Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Notification Data": {
      "main": [
        [
          {
            "node": "Email Channel",
            "type": "main",
            "index": 0
          },
          {
            "node": "SMS Channel", 
            "type": "main",
            "index": 0
          },
          {
            "node": "Push Channel",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "Email Channel": {
      "main": [
        [
          {
            "node": "Send to Email Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Channel": {
      "main": [
        [
          {
            "node": "Send to SMS Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Channel": {
      "main": [
        [
          {
            "node": "Send to Push Workflow", 
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Email Workflow": {
      "main": [
        [
          {
            "node": "Update Notification Status",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "Send to SMS Workflow": {
      "main": [
        [
          {
            "node": "Update Notification Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Push Workflow": {
      "main": [
        [
          {
            "node": "Update Notification Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "notification-routing",
      "name": "notification-routing"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "notification-router",
  "versionId": "1"
}