scenarios/notification-hub/initialization/n8n/sms-sender-workflow.json
{
  "name": "SMS Sender",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "sms-sender"
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger", 
      "typeVersion": 1,
      "position": [200, 450]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "profile_id",
              "value": "00000000-0000-0000-0000-000000000001"
            },
            {
              "name": "contact_id",
              "value": "10000000-0000-0000-0000-000000000002"
            },
            {
              "name": "notification_id",
              "value": "test-sms-123"
            },
            {
              "name": "current_channel",
              "value": "sms"
            }
          ],
          "object": [
            {
              "name": "channel_content",
              "value": {
                "text": "Test SMS: This is a test SMS from the notification hub."
              }
            },
            {
              "name": "contact_info",
              "value": {
                "identifier": "+15551234567",
                "first_name": "Test",
                "last_name": "User"
              }
            }
          ]
        }
      },
      "id": "default-test-data",
      "name": "Default Test Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [400, 450]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  pp.provider,\n  pp.config,\n  cc.value as phone_number\nFROM profile_providers pp\nJOIN contacts c ON c.profile_id = pp.profile_id\nJOIN contact_channels cc ON cc.contact_id = c.id\nWHERE pp.profile_id = '{{ $json.profile_id }}'\n  AND pp.channel = 'sms'\n  AND pp.enabled = true\n  AND c.id = '{{ $json.contact_id }}'\n  AND cc.type = 'sms'\n  AND cc.status = 'active'\nORDER BY pp.priority ASC\nLIMIT 1",
        "options": {}
      },
      "id": "get-sms-provider",
      "name": "Get SMS Provider",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [600, 375],
      "credentials": {
        "postgres": {
          "id": "postgres-notification-hub",
          "name": "PostgreSQL - Notification Hub"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all()[0].json;\n\n// Mock SMS sending - log the attempt  \nconsole.log('MOCK SMS SEND:', {\n  to: data.phone_number,\n  message: data.channel_content?.text,\n  notification_id: data.notification_id\n});\n\n// Return mock success response\nreturn [{\n  json: {\n    status: 'sent',\n    provider_message_id: `mock_sms_${Date.now()}`,\n    provider_response: {\n      mock: true,\n      status: 'queued',\n      timestamp: new Date().toISOString()\n    },\n    notification_id: data.notification_id,\n    channel: 'sms',\n    cost_cents: 5, // Mock SMS cost\n    sent_at: new Date().toISOString(),\n    delivered_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "mock-sms-send",
      "name": "Mock SMS Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 375]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO notification_deliveries (\n  notification_id,\n  channel,\n  provider,\n  status,\n  provider_message_id,\n  provider_response,\n  sent_at,\n  delivered_at,\n  cost_cents\n) VALUES (\n  '{{ $json.notification_id }}',\n  'sms',\n  'mock',\n  '{{ $json.status }}',\n  '{{ $json.provider_message_id }}',\n  '{{ JSON.stringify($json.provider_response) }}',\n  '{{ $json.sent_at }}',\n  '{{ $json.delivered_at }}',\n  {{ $json.cost_cents }}\n)",
        "options": {}
      },
      "id": "record-sms-delivery",
      "name": "Record SMS Delivery",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1000, 375],
      "credentials": {
        "postgres": {
          "id": "postgres-notification-hub",
          "name": "PostgreSQL - Notification Hub"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get SMS Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Default Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Test Data": {
      "main": [
        [
          {
            "node": "Get SMS Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SMS Provider": {
      "main": [
        [
          {
            "node": "Mock SMS Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock SMS Send": {
      "main": [
        [
          {
            "node": "Record SMS Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "sms-delivery",
      "name": "sms-delivery"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "sms-sender",
  "versionId": "1"
}