scenarios/notification-hub/initialization/n8n/unsubscribe-processor-workflow.json
{
  "name": "Unsubscribe Processor",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook", 
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "unsubscribe-processor"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO unsubscribes (\n  contact_id,\n  profile_id,\n  scope,\n  reason,\n  source\n) VALUES (\n  '{{ $json.contact_id }}',\n  '{{ $json.profile_id }}',\n  '{{ $json.scope || \"all\" }}',\n  '{{ $json.reason || \"User requested unsubscribe\" }}',\n  '{{ $json.source || \"user_request\" }}'\n) ON CONFLICT (contact_id, profile_id, scope) DO NOTHING",
        "options": {}
      },
      "id": "record-unsubscribe",
      "name": "Record Unsubscribe",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [400, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-notification-hub",
          "name": "PostgreSQL - Notification Hub"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE contacts \nSET status = 'unsubscribed', updated_at = NOW()\nWHERE id = '{{ $json.contact_id }}'",
        "options": {}
      },
      "id": "update-contact-status",
      "name": "Update Contact Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [600, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-notification-hub",
          "name": "PostgreSQL - Notification Hub"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Record Unsubscribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Unsubscribe": {
      "main": [
        [
          {
            "node": "Update Contact Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "id": "unsubscribe-processor",
  "versionId": "1"
}