scripts/resources/automation/n8n/examples/webhook-workflow.json
[
  {
    "name": "API Executable Workflow",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "path": "execute-workflow",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [0, 0],
        "id": "webhook-trigger",
        "name": "Webhook",
        "webhookId": "c5e46baa-d8a1-4c7f-a019-b2a0b3d4c5e6"
      },
      {
        "parameters": {
          "command": "echo \"API Workflow executed at $(date) with data: $(echo '{{$json}}' | jq -c .)\" > /host/home/api-workflow-result.txt"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [300, 0],
        "id": "process-data",
        "name": "Process API Data"
      },
      {
        "parameters": {
          "values": {
            "boolean": [],
            "string": [
              {
                "name": "status",
                "value": "success"
              },
              {
                "name": "executedAt",
                "value": "={{new Date().toISOString()}}"
              },
              {
                "name": "message",
                "value": "Workflow executed via API"
              }
            ],
            "number": []
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [600, 0],
        "id": "set-response",
        "name": "Set Response"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Process API Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process API Data": {
        "main": [
          [
            {
              "node": "Set Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "tags": []
  }
]