scenarios/fall-foliage-explorer/initialization/n8n/foliage-data-fetcher.json
{
  "name": "foliage-data-fetcher",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "foliage-data-webhook"
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 100]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "region_id",
              "value": "1"
            },
            {
              "name": "latitude",
              "value": "44.0"
            },
            {
              "name": "longitude",
              "value": "-71.5"
            },
            {
              "name": "date",
              "value": "={{ new Date().toISOString().split('T')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-defaults",
      "name": "Set Defaults",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [450, 100]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "merge-inputs",
      "name": "Merge Inputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "=http://localhost:{{ $env.N8N_PORT }}/webhook/ollama",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=Based on the following location and date, predict the fall foliage status. Location: latitude {{ $json.latitude }}, longitude {{ $json.longitude }}. Date: {{ $json.date }}. Consider typical weather patterns for this region. Respond with a JSON object containing: status (one of: not_started, minimal, moderate, near_peak, peak, past_peak), color_intensity (1-10 scale), description (brief text), and confidence (0-1)."
            },
            {
              "name": "model",
              "value": "llama3.2:latest"
            },
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "call-ollama",
      "name": "Call Ollama for Prediction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "// Parse the Ollama response\nconst ollamaResponse = $input.item.json;\nlet prediction = {};\n\ntry {\n  // The response should contain our JSON prediction\n  if (typeof ollamaResponse.response === 'string') {\n    prediction = JSON.parse(ollamaResponse.response);\n  } else if (ollamaResponse.response) {\n    prediction = ollamaResponse.response;\n  } else {\n    prediction = ollamaResponse;\n  }\n} catch (e) {\n  // Fallback to default values if parsing fails\n  prediction = {\n    status: 'moderate',\n    color_intensity: 5,\n    description: 'Foliage is progressing normally for this time of year',\n    confidence: 0.7\n  };\n}\n\n// Add metadata\nconst result = {\n  region_id: $input.item.json.region_id || '1',\n  latitude: $input.item.json.latitude,\n  longitude: $input.item.json.longitude,\n  date: $input.item.json.date,\n  foliage_status: prediction.status || 'moderate',\n  color_intensity: prediction.color_intensity || 5,\n  description: prediction.description || 'Foliage status for the region',\n  confidence: prediction.confidence || 0.7,\n  timestamp: new Date().toISOString()\n};\n\nreturn result;"
      },
      "id": "process-prediction",
      "name": "Process Prediction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "content": "## Foliage Data Fetcher\n\nThis workflow fetches and predicts fall foliage status for a given location.\n\n### Input Parameters:\n- `region_id`: Region identifier\n- `latitude`: Location latitude\n- `longitude`: Location longitude\n- `date`: Date for prediction (optional)\n\n### Output:\n- Foliage status prediction with confidence score",
        "height": 200,
        "width": 400
      },
      "id": "sticky-note",
      "name": "Workflow Description",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Defaults": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Inputs": {
      "main": [
        [
          {
            "node": "Call Ollama for Prediction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama for Prediction": {
      "main": [
        [
          {
            "node": "Process Prediction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1.0.0",
  "id": "foliage-data-fetcher",
  "meta": {
    "instanceId": "fall-foliage-explorer"
  },
  "tags": []
}