scripts/resources/examples/secret-masking-workflow.json
{
  "name": "Secret Masking Demo",
  "nodes": [
    {
      "parameters": {
        "path": "secret-masking-demo"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook", 
      "typeVersion": 1,
      "position": [180, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8200/v1/secret/data/test/stripe-config",
        "options": {
          "headers": {
            "X-Vault-Token": "myroot"
          }
        }
      },
      "name": "Get Secret from Vault",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [380, 300]
    },
    {
      "parameters": {
        "jsCode": "// Mask sensitive data from Vault\nconst vaultData = $input.first().json.data.data;\nconst apiKey = vaultData.stripe_api_key;\n\n// Mask the API key: show first 7 chars and last 3 chars\nconst maskedKey = apiKey.length >= 10 ? \n  apiKey.substring(0, 7) + '*'.repeat(apiKey.length - 10) + apiKey.substring(apiKey.length - 3) :\n  '*'.repeat(apiKey.length);\n\nreturn {\n  masked_api_key: maskedKey,\n  environment: vaultData.environment,\n  key_length: apiKey.length,\n  processing_timestamp: new Date().toISOString(),\n  security_note: 'Original key safely masked for logging'\n};"
      },
      "name": "Mask Sensitive Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [580, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Secret from Vault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Secret from Vault": {
      "main": [
        [
          {
            "node": "Mask Sensitive Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
