scripts/scenarios/core/smart-file-photo-manager/initialization/automation/n8n/batch-processor.json
{
  "name": "Batch Processing Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "batch-process",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "h1a7b6c8-1234-4567-8901-123456789001",
      "name": "Batch Process Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "batch-process"
    },
    {
      "parameters": {
        "resource": "script",
        "operation": "execute",
        "workspaceId": "file_manager",
        "scriptPath": "f/file_manager/batch-organize",
        "parameters": {
          "operation": "={{ $json.operation || 'organize_by_suggestions' }}",
          "fileIds": "={{ $json.file_ids }}",
          "folderPath": "={{ $json.folder_path }}",
          "filters": "={{ $json.filters }}",
          "dryRun": "={{ $json.dry_run || false }}",
          "autoApprove": "={{ $json.auto_approve || false }}",
          "maxFiles": "={{ $json.max_files || 100 }}"
        }
      },
      "id": "h2a7b6c8-1234-4567-8901-123456789002",
      "name": "Execute Batch Operation",
      "type": "n8n-nodes-base.windmill",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.successfulMoves }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "h3a7b6c8-1234-4567-8901-123456789003",
      "name": "Has Successes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "mappingMode": "defineBelow",
          "value": {
            "operation_type": "={{ $json.operation }}",
            "status": "completed",
            "total_files": "={{ $json.totalFiles }}",
            "processed_files": "={{ $json.processedFiles }}",
            "successful_count": "={{ $json.successfulMoves }}",
            "failed_count": "={{ $json.failedMoves }}",
            "parameters": "={{ JSON.stringify({operation: $json.operation, dry_run: $json.dryRun}) }}",
            "initiated_by": "system",
            "completed_at": "={{ new Date().toISOString() }}"
          }
        },
        "table": "batch_operations",
        "options": {}
      },
      "id": "h4a7b6c8-1234-4567-8901-123456789004",
      "name": "Log Success Operation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1120,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "file_manager_postgres",
          "name": "File Manager PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.changes }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "h5a7b6c8-1234-4567-8901-123456789005",
      "name": "Has Changes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process changes and send notifications\nconst items = $input.all();\nconst notifications = [];\n\nfor (const item of items) {\n  const changes = item.json.changes || [];\n  \n  // Group changes by type\n  const changesByType = changes.reduce((acc, change) => {\n    acc[change.action] = acc[change.action] || [];\n    acc[change.action].push(change);\n    return acc;\n  }, {});\n  \n  // Create notification summaries\n  if (changesByType.move?.length > 0) {\n    notifications.push({\n      type: 'batch_move_completed',\n      message: `Successfully moved ${changesByType.move.filter(c => c.success).length} files`,\n      details: changesByType.move.map(c => ({ filename: c.filename, from: c.from, to: c.to })),\n      timestamp: new Date().toISOString()\n    });\n  }\n  \n  if (changesByType.apply_tags?.length > 0) {\n    notifications.push({\n      type: 'batch_tags_applied',\n      message: `Applied tags to ${changesByType.apply_tags.filter(c => c.success).length} files`,\n      details: changesByType.apply_tags.map(c => ({ filename: c.filename, tags: c.tags })),\n      timestamp: new Date().toISOString()\n    });\n  }\n  \n  if (changesByType.rename?.length > 0) {\n    notifications.push({\n      type: 'batch_rename_completed',\n      message: `Renamed ${changesByType.rename.filter(c => c.success).length} files`,\n      details: changesByType.rename.map(c => ({ from: c.from, to: c.to })),\n      timestamp: new Date().toISOString()\n    });\n  }\n}\n\nreturn [{ notifications, total_notifications: notifications.length }];"
      },
      "id": "h6a7b6c8-1234-4567-8901-123456789006",
      "name": "Process Notifications",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        350
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"operation\": $json.operation,\n  \"summary\": {\n    \"total_files\": $json.totalFiles,\n    \"processed_files\": $json.processedFiles,\n    \"successful_moves\": $json.successfulMoves,\n    \"failed_moves\": $json.failedMoves,\n    \"created_folders\": $json.createdFolders,\n    \"applied_tags\": $json.appliedTags\n  },\n  \"dry_run\": $json.dryRun,\n  \"changes\": $json.changes,\n  \"processing_time\": $json.processingTime,\n  \"errors\": $json.errors,\n  \"notifications\": $('Process Notifications').first()?.notifications || []\n} }}",
        "options": {}
      },
      "id": "h7a7b6c8-1234-4567-8901-123456789007",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"error\": \"Batch processing failed\",\n  \"message\": $json.error?.message || \"Unknown error occurred\",\n  \"operation\": $json.operation || null\n} }}",
        "options": {}
      },
      "id": "h8a7b6c8-1234-4567-8901-123456789008",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate and prepare batch processing request\nconst items = $input.all();\nconst validatedItems = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Validate required parameters\n  const errors = [];\n  \n  if (!data.operation) {\n    errors.push('Operation is required');\n  }\n  \n  const validOperations = [\n    'organize_by_suggestions',\n    'organize_by_type', \n    'organize_by_date',\n    'apply_tags',\n    'cleanup_duplicates'\n  ];\n  \n  if (data.operation && !validOperations.includes(data.operation)) {\n    errors.push(`Invalid operation. Must be one of: ${validOperations.join(', ')}`);\n  }\n  \n  if (!data.file_ids && !data.folder_path && data.operation !== 'cleanup_duplicates') {\n    errors.push('Either file_ids or folder_path must be specified');\n  }\n  \n  if (data.file_ids && (!Array.isArray(data.file_ids) || data.file_ids.length === 0)) {\n    errors.push('file_ids must be a non-empty array');\n  }\n  \n  if (data.max_files && (typeof data.max_files !== 'number' || data.max_files <= 0 || data.max_files > 1000)) {\n    errors.push('max_files must be a number between 1 and 1000');\n  }\n  \n  if (errors.length > 0) {\n    validatedItems.push({\n      ...data,\n      validation_errors: errors,\n      valid: false\n    });\n  } else {\n    validatedItems.push({\n      ...data,\n      valid: true,\n      processing_started_at: new Date().toISOString(),\n      workflow_id: '{{ $workflow.id }}',\n      execution_id: '{{ $execution.id }}'\n    });\n  }\n}\n\nreturn validatedItems;"
      },
      "id": "h9a7b6c8-1234-4567-8901-123456789009",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "h10a7b6c8-1234-4567-8901-123456789010",
      "name": "Valid Request",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Batch Process Webhook": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Valid Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Request": {
      "main": [
        [
          {
            "node": "Execute Batch Operation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Batch Operation": {
      "main": [
        [
          {
            "node": "Has Successes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Successes": {
      "main": [
        [
          {
            "node": "Log Success Operation",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Has Changes": {
      "main": [
        [
          {
            "node": "Process Notifications",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Log Success Operation": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Notifications": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "3",
  "meta": {
    "instanceId": "file_manager"
  },
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "3",
      "name": "batch-processing"
    }
  ]
}