scripts/scenarios/core/smart-file-photo-manager/initialization/automation/n8n/document-processor.json
{
  "name": "Document Processing Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-document",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "j1a7b6c8-1234-4567-8901-123456789001",
      "name": "Document Processing Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "process-document"
    },
    {
      "parameters": {
        "resource": "script",
        "operation": "execute",
        "workspaceId": "file_manager",
        "scriptPath": "f/file_manager/extract-text",
        "parameters": {
          "fileId": "={{ $json.file_id }}",
          "filePath": "={{ $json.file_path }}",
          "filename": "={{ $json.filename }}",
          "mimeType": "={{ $json.mime_type }}",
          "fileSize": "={{ $json.file_size }}"
        }
      },
      "id": "j2a7b6c8-1234-4567-8901-123456789002",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.windmill",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"file_id\": $json.file_id, \"chunks_extracted\": $json.chunks?.length || 0, \"processing_time\": $json.processingTime } }}"
      },
      "id": "j3a7b6c8-1234-4567-8901-123456789003",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Document Processing Webhook": { "main": [[ { "node": "Extract Document Text", "type": "main", "index": 0 } ]] },
    "Extract Document Text": { "main": [[ { "node": "Success Response", "type": "main", "index": 0 } ]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "1",
  "id": "5",
  "meta": { "instanceId": "file_manager" },
  "tags": [{ "id": "5", "name": "document-processing" }]
}