scripts/scenarios/core/product-manager-agent/initialization/n8n/decision-analyzer.json
{
  "name": "Product Decision Analyzer",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "product-decision-analyzer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "decision",
              "name": "decision",
              "value": "Should we pivot to focus on enterprise clients?",
              "type": "string"
            },
            {
              "id": "context",
              "name": "context",
              "value": "Current customer base is 80% SMB with high churn",
              "type": "string"
            },
            {
              "id": "constraints",
              "name": "constraints",
              "value": "Limited dev resources, 6 month runway",
              "type": "string"
            },
            {
              "id": "alternatives",
              "name": "alternatives",
              "value": "1. Stay focused on SMB\n2. Hybrid approach\n3. Full enterprise pivot",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "decision",
              "name": "decision",
              "value": "={{ $json.decision || $('Manual Trigger').item.json.decision }}",
              "type": "string"
            },
            {
              "id": "context",
              "name": "context",
              "value": "={{ $json.context || $('Manual Trigger').item.json.context }}",
              "type": "string"
            },
            {
              "id": "constraints",
              "name": "constraints",
              "value": "={{ $json.constraints || $('Manual Trigger').item.json.constraints }}",
              "type": "string"
            },
            {
              "id": "alternatives",
              "name": "alternatives",
              "value": "={{ $json.alternatives || $('Manual Trigger').item.json.alternatives }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-inputs",
      "name": "Merge Inputs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.service.n8n.url }}/webhook/ollama",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.2\",\n  \"prompt\": \"Analyze this product decision using structured decision-making frameworks (SWOT, Risk Matrix, Cost-Benefit):\\n\\nDecision: {{ $json.decision }}\\n\\nContext: {{ $json.context }}\\n\\nConstraints: {{ $json.constraints }}\\n\\nAlternatives: {{ $json.alternatives }}\\n\\nProvide:\\n1. SWOT analysis for each alternative\\n2. Risk assessment (probability x impact)\\n3. Cost-benefit analysis\\n4. Implementation timeline estimate\\n5. Success metrics\\n6. Recommended decision with confidence score\\n\\nFormat as structured JSON.\",\n  \"stream\": false\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "analyze-decision",
      "name": "Analyze Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "jsCode": "const analysis = JSON.parse($input.item.json.response || '{}');\n\n// Extract key insights\nconst swotSummary = [];\nconst risks = [];\nconst benefits = [];\nlet recommendation = '';\nlet confidence = 0;\n\nif (analysis.alternatives) {\n  for (const alt of analysis.alternatives) {\n    if (alt.swot) {\n      swotSummary.push({\n        alternative: alt.name,\n        strengths: alt.swot.strengths || [],\n        weaknesses: alt.swot.weaknesses || [],\n        opportunities: alt.swot.opportunities || [],\n        threats: alt.swot.threats || []\n      });\n    }\n    \n    if (alt.risks) {\n      risks.push(...alt.risks.map(r => ({\n        ...r,\n        alternative: alt.name\n      })));\n    }\n    \n    if (alt.benefits) {\n      benefits.push(...alt.benefits.map(b => ({\n        ...b,\n        alternative: alt.name\n      })));\n    }\n  }\n}\n\nif (analysis.recommendation) {\n  recommendation = analysis.recommendation.decision || '';\n  confidence = analysis.recommendation.confidence || 0;\n}\n\n// Calculate decision score\nconst decisionScore = {\n  riskScore: risks.reduce((sum, r) => sum + (r.probability * r.impact || 0), 0) / Math.max(risks.length, 1),\n  benefitScore: benefits.reduce((sum, b) => sum + (b.value || 0), 0) / Math.max(benefits.length, 1),\n  feasibilityScore: confidence\n};\n\nreturn {\n  decision: $input.item.json.decision,\n  analysis: {\n    swot: swotSummary,\n    risks: risks.sort((a, b) => (b.probability * b.impact) - (a.probability * a.impact)),\n    benefits: benefits.sort((a, b) => b.value - a.value),\n    timeline: analysis.timeline || {},\n    metrics: analysis.metrics || []\n  },\n  recommendation: {\n    decision: recommendation,\n    confidence: confidence,\n    rationale: analysis.recommendation?.rationale || '',\n    nextSteps: analysis.recommendation?.nextSteps || []\n  },\n  scores: decisionScore,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "process-analysis",
      "name": "Process Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.service.postgres.url }}/decisions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "save-decision",
      "name": "Save to Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            }
          ]
        },
        "options": {}
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Inputs": {
      "main": [
        [
          {
            "node": "Analyze Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Decision": {
      "main": [
        [
          {
            "node": "Process Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Analysis": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "product-decision-analyzer"
  },
  "id": "product-decision-analyzer",
  "tags": []
}