scripts/scenarios/core/product-manager-agent/initialization/n8n/user-feedback-processor.json
{
  "name": "User Feedback Processor",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "user-feedback-processor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "feedback",
              "name": "feedback",
              "value": "The new dashboard is confusing. I can't find the export button anymore and the graphs load too slowly.",
              "type": "string"
            },
            {
              "id": "user_id",
              "name": "user_id",
              "value": "user_123",
              "type": "string"
            },
            {
              "id": "product_area",
              "name": "product_area",
              "value": "dashboard",
              "type": "string"
            },
            {
              "id": "rating",
              "name": "rating",
              "value": "2",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "feedback",
              "name": "feedback",
              "value": "={{ $json.feedback || $('Manual Trigger').item.json.feedback }}",
              "type": "string"
            },
            {
              "id": "user_id",
              "name": "user_id",
              "value": "={{ $json.user_id || $('Manual Trigger').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "product_area",
              "name": "product_area",
              "value": "={{ $json.product_area || $('Manual Trigger').item.json.product_area }}",
              "type": "string"
            },
            {
              "id": "rating",
              "name": "rating",
              "value": "={{ $json.rating || $('Manual Trigger').item.json.rating }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-inputs",
      "name": "Merge Inputs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.service.n8n.url }}/webhook/ollama",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.2\",\n  \"prompt\": \"Analyze this user feedback and extract actionable insights:\\n\\nFeedback: {{ $json.feedback }}\\nProduct Area: {{ $json.product_area }}\\nRating: {{ $json.rating }}/5\\n\\nExtract and categorize:\\n1. Sentiment (positive/negative/neutral with score)\\n2. Main issues identified\\n3. Feature requests\\n4. Pain points\\n5. Suggested improvements\\n6. Priority level (critical/high/medium/low)\\n7. Affected user journey stages\\n8. Potential impact on retention\\n9. Similar feedback patterns (if applicable)\\n10. Recommended actions\\n\\nFormat as structured JSON.\",\n  \"stream\": false\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "analyze-feedback",
      "name": "Analyze Feedback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "jsCode": "const analysis = JSON.parse($input.item.json.response || '{}');\nconst feedback = $input.item.json;\n\n// Process sentiment\nconst sentiment = analysis.sentiment || {};\nconst sentimentScore = sentiment.score || 0;\nconst sentimentLabel = sentiment.label || 'neutral';\n\n// Extract issues and requests\nconst issues = analysis.issues || [];\nconst featureRequests = analysis.featureRequests || [];\nconst painPoints = analysis.painPoints || [];\nconst improvements = analysis.improvements || [];\n\n// Determine priority based on rating and sentiment\nlet priority = 'medium';\nif (feedback.rating <= 2 || sentimentScore < -0.5) {\n  priority = 'high';\n  if (analysis.priority === 'critical' || issues.some(i => i.includes('broken') || i.includes('crash'))) {\n    priority = 'critical';\n  }\n} else if (feedback.rating >= 4 && sentimentScore > 0.5) {\n  priority = 'low';\n}\n\n// Generate tracking ID\nconst trackingId = `FB-${Date.now()}-${Math.random().toString(36).substr(2, 9)}`;\n\n// Create actionable items\nconst actionItems = [];\n\nif (issues.length > 0) {\n  actionItems.push({\n    type: 'bug_fix',\n    description: `Address issues: ${issues.join(', ')}`,\n    priority: priority,\n    assignTo: 'engineering'\n  });\n}\n\nif (featureRequests.length > 0) {\n  actionItems.push({\n    type: 'feature_request',\n    description: `Evaluate features: ${featureRequests.join(', ')}`,\n    priority: 'medium',\n    assignTo: 'product'\n  });\n}\n\nif (painPoints.length > 0) {\n  actionItems.push({\n    type: 'ux_improvement',\n    description: `Improve UX for: ${painPoints.join(', ')}`,\n    priority: priority,\n    assignTo: 'design'\n  });\n}\n\nreturn {\n  trackingId: trackingId,\n  feedback: {\n    original: feedback.feedback,\n    userId: feedback.user_id,\n    productArea: feedback.product_area,\n    rating: feedback.rating,\n    timestamp: new Date().toISOString()\n  },\n  analysis: {\n    sentiment: {\n      label: sentimentLabel,\n      score: sentimentScore\n    },\n    issues: issues,\n    featureRequests: featureRequests,\n    painPoints: painPoints,\n    improvements: improvements,\n    priority: priority,\n    userJourneyStages: analysis.userJourneyStages || [],\n    retentionImpact: analysis.retentionImpact || 'medium'\n  },\n  actionItems: actionItems,\n  patterns: {\n    similarFeedback: analysis.similarPatterns || [],\n    frequency: analysis.patternFrequency || 'first_occurrence'\n  },\n  recommendations: analysis.recommendations || []\n};"
      },
      "id": "process-feedback",
      "name": "Process Feedback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.service.qdrant.url }}/collections/feedback/points",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"points\": [\n    {\n      \"id\": \"{{ $json.trackingId }}\",\n      \"vector\": {{ JSON.stringify(Array(384).fill(0).map(() => Math.random())) }},\n      \"payload\": {{ JSON.stringify($json) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "store-vector",
      "name": "Store in Vector DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.service.postgres.url }}/feedback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "store-postgres",
      "name": "Store in PostgreSQL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "priority-check",
              "leftValue": "={{ $json.analysis.priority }}",
              "rightValue": "critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-priority",
      "name": "Check Priority",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "command": "echo \"ALERT: Critical feedback received - {{ $json.trackingId }}\" | vrooli notify --priority high --channel product-team"
      },
      "id": "alert-team",
      "name": "Alert Team",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "processed"
            },
            {
              "name": "trackingId",
              "value": "={{ $json.trackingId }}"
            }
          ],
          "number": [
            {
              "name": "actionItemsCount",
              "value": "={{ $json.actionItems.length }}"
            }
          ]
        },
        "options": {}
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1450, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Inputs": {
      "main": [
        [
          {
            "node": "Analyze Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Feedback": {
      "main": [
        [
          {
            "node": "Process Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Feedback": {
      "main": [
        [
          {
            "node": "Store in Vector DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store in PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in PostgreSQL": {
      "main": [
        [
          {
            "node": "Check Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Priority": {
      "main": [
        [
          {
            "node": "Alert Team",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Team": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "user-feedback-processor"
  },
  "id": "user-feedback-processor",
  "tags": []
}