resources/node-red/examples/default-flows.json
[
    {
        "id": "test-basic-flow",
        "type": "tab",
        "label": "Test Basic",
        "disabled": false,
        "info": "Basic connectivity test flow"
    },
    {
        "id": "http-in-test",
        "type": "http in",
        "z": "test-basic-flow",
        "name": "Test Endpoint",
        "url": "/test/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 100,
        "wires": [["function-test"]]
    },
    {
        "id": "function-test",
        "type": "function",
        "z": "test-basic-flow",
        "name": "Generate Response",
        "func": "msg.payload = {\n    status: 'success',\n    message: 'Node-RED is working!',\n    timestamp: new Date().toISOString(),\n    service: 'Node-RED',\n    container: 'node-red-vrooli'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [["http-out-test"]]
    },
    {
        "id": "http-out-test",
        "type": "http response",
        "z": "test-basic-flow",
        "name": "Send Response",
        "statusCode": "200",
        "headers": {},
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "test-exec-flow",
        "type": "tab",
        "label": "Test Command Execution",
        "disabled": false,
        "info": "Test flow for host command execution"
    },
    {
        "id": "http-in-exec",
        "type": "http in",
        "z": "test-exec-flow",
        "name": "Execute Command",
        "url": "/test/exec",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [["validate-input"]]
    },
    {
        "id": "validate-input",
        "type": "function",
        "z": "test-exec-flow",
        "name": "Validate Input",
        "func": "// Validate command input\nif (!msg.payload || !msg.payload.command) {\n    msg.statusCode = 400;\n    msg.payload = {\n        error: 'Missing command in request body'\n    };\n    return [null, msg];\n}\n\n// Basic command validation (whitelist safe commands)\nconst allowedCommands = ['ls', 'pwd', 'date', 'whoami', 'echo', 'cat', 'grep', 'find'];\nconst cmd = msg.payload.command.split(' ')[0];\n\nif (!allowedCommands.includes(cmd)) {\n    msg.statusCode = 403;\n    msg.payload = {\n        error: `Command '${cmd}' not allowed. Allowed commands: ${allowedCommands.join(', ')}`\n    };\n    return [null, msg];\n}\n\n// Pass through for execution\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [["exec-command"], ["http-out-exec"]]
    },
    {
        "id": "exec-command",
        "type": "exec",
        "z": "test-exec-flow",
        "command": "",
        "addpay": "payload.command",
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "winHide": false,
        "oldrc": false,
        "name": "Execute Command",
        "x": 550,
        "y": 80,
        "wires": [["format-success"], ["format-error"], []]
    },
    {
        "id": "format-success",
        "type": "function",
        "z": "test-exec-flow",
        "name": "Format Success",
        "func": "msg.payload = {\n    status: 'success',\n    command: msg.payload.command || msg.req.body.command,\n    output: msg.payload,\n    timestamp: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 60,
        "wires": [["http-out-exec"]]
    },
    {
        "id": "format-error",
        "type": "function",
        "z": "test-exec-flow",
        "name": "Format Error",
        "func": "msg.statusCode = 500;\nmsg.payload = {\n    status: 'error',\n    command: msg.req.body.command,\n    error: msg.payload,\n    timestamp: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 120,
        "wires": [["http-out-exec"]]
    },
    {
        "id": "http-out-exec",
        "type": "http response",
        "z": "test-exec-flow",
        "name": "Send Response",
        "statusCode": "",
        "headers": {},
        "x": 960,
        "y": 100,
        "wires": []
    },
    {
        "id": "test-docker-flow",
        "type": "tab",
        "label": "Test Docker Access",
        "disabled": false,
        "info": "Test flow for Docker socket access"
    },
    {
        "id": "http-in-docker",
        "type": "http in",
        "z": "test-docker-flow",
        "name": "Docker Test",
        "url": "/test/docker",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 100,
        "wires": [["exec-docker-ps"]]
    },
    {
        "id": "exec-docker-ps",
        "type": "exec",
        "z": "test-docker-flow",
        "command": "docker ps --format 'table {{.Names}}\\t{{.Status}}\\t{{.Ports}}'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "winHide": false,
        "oldrc": false,
        "name": "Docker PS",
        "x": 310,
        "y": 100,
        "wires": [["format-docker-success"], ["format-docker-error"], []]
    },
    {
        "id": "format-docker-success",
        "type": "function",
        "z": "test-docker-flow",
        "name": "Format Success",
        "func": "msg.payload = {\n    status: 'success',\n    message: 'Docker access is working',\n    containers: msg.payload,\n    timestamp: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 80,
        "wires": [["http-out-docker"]]
    },
    {
        "id": "format-docker-error",
        "type": "function",
        "z": "test-docker-flow",
        "name": "Format Error",
        "func": "msg.statusCode = 500;\nmsg.payload = {\n    status: 'error',\n    message: 'Docker access failed',\n    error: msg.payload,\n    timestamp: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 120,
        "wires": [["http-out-docker"]]
    },
    {
        "id": "http-out-docker",
        "type": "http response",
        "z": "test-docker-flow",
        "name": "Send Response",
        "statusCode": "",
        "headers": {},
        "x": 720,
        "y": 100,
        "wires": []
    }
]