scripts/scenarios/core/resume-screening-assistant/initialization/automation/n8n/semantic-search-workflow.json
{
  "name": "Semantic Search Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "search",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Search Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "search",
      "id": "webhook_search"
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate search parameters\nconst input = $input.first().json;\n\n// Extract parameters from query or body\nconst query = input.query || input.q || '';\nconst searchType = input.type || 'candidates'; // candidates, jobs, or both\nconst jobId = input.job_id || null;\nconst limit = Math.min(parseInt(input.limit) || 10, 50); // Max 50 results\nconst threshold = parseFloat(input.threshold) || 0.7;\nconst filters = input.filters || {};\n\n// Validation\nif (!query || query.trim().length < 2) {\n  return {\n    valid: false,\n    error: 'Query must be at least 2 characters long',\n    data: null\n  };\n}\n\nif (!['candidates', 'jobs', 'both'].includes(searchType)) {\n  return {\n    valid: false,\n    error: 'Search type must be: candidates, jobs, or both',\n    data: null\n  };\n}\n\nreturn {\n  valid: true,\n  error: null,\n  data: {\n    query: query.trim(),\n    searchType,\n    jobId,\n    limit,\n    threshold,\n    filters,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "name": "Validate Search Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "id": "validate_search"
    },
    {
      "parameters": {
        "url": "http://localhost:11434/api/embeddings",
        "requestMethod": "POST",
        "sendBody": true,
        "bodyContent": "{\n  \"model\": \"nomic-embed-text\",\n  \"prompt\": \"{{ $json.data.query }}\"\n}",
        "options": {
          "timeout": 60000,
          "retry": {
            "maxAttempts": 2,
            "waitBetween": 1000
          }
        }
      },
      "name": "Generate Query Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [640, 300],
      "id": "generate_embedding"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $('Validate Search Parameters').first().json.data.searchType }}",
              "rightValue": "candidates",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $('Validate Search Parameters').first().json.data.searchType }}",
              "rightValue": "both",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "or"
        }
      },
      "name": "Should Search Candidates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [840, 200],
      "id": "should_search_candidates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $('Validate Search Parameters').first().json.data.searchType }}",
              "rightValue": "jobs",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $('Validate Search Parameters').first().json.data.searchType }}",
              "rightValue": "both",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combineOperation": "or"
        }
      },
      "name": "Should Search Jobs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [840, 400],
      "id": "should_search_jobs"
    },
    {
      "parameters": {
        "url": "http://localhost:6333/collections/resumes/points/search",
        "requestMethod": "POST",
        "sendBody": true,
        "bodyContent": "{\n  \"vector\": {{ JSON.stringify($('Generate Query Embedding').first().json.embedding) }},\n  \"limit\": {{ $('Validate Search Parameters').first().json.data.limit }},\n  \"score_threshold\": {{ $('Validate Search Parameters').first().json.data.threshold }},\n  \"with_payload\": true,\n  \"with_vector\": false\n}"
      },
      "name": "Search Candidates in Vector DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1040, 100],
      "id": "search_candidates"
    },
    {
      "parameters": {
        "url": "http://localhost:6333/collections/job-descriptions/points/search",
        "requestMethod": "POST",
        "sendBody": true,
        "bodyContent": "{\n  \"vector\": {{ JSON.stringify($('Generate Query Embedding').first().json.embedding) }},\n  \"limit\": {{ $('Validate Search Parameters').first().json.data.limit }},\n  \"score_threshold\": {{ $('Validate Search Parameters').first().json.data.threshold }},\n  \"with_payload\": true,\n  \"with_vector\": false\n}"
      },
      "name": "Search Jobs in Vector DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1040, 300],
      "id": "search_jobs"
    },
    {
      "parameters": {
        "jsCode": "// Combine and format search results\nconst searchParams = $('Validate Search Parameters').first().json.data;\nlet candidateResults = [];\nlet jobResults = [];\n\n// Process candidate results if available\nif ($('Search Candidates in Vector DB').length > 0) {\n  const candidatesData = $('Search Candidates in Vector DB').first().json;\n  if (candidatesData && candidatesData.result) {\n    candidateResults = candidatesData.result.map(item => ({\n      type: 'candidate',\n      id: item.id,\n      score: Math.round(item.score * 100) / 100,\n      candidate_name: item.payload.candidate_name,\n      skills: item.payload.skills,\n      experience_years: item.payload.experience_years,\n      education_level: item.payload.education_level,\n      overall_score: item.payload.overall_score\n    }));\n  }\n}\n\n// Process job results if available\nif ($('Search Jobs in Vector DB').length > 0) {\n  const jobsData = $('Search Jobs in Vector DB').first().json;\n  if (jobsData && jobsData.result) {\n    jobResults = jobsData.result.map(item => ({\n      type: 'job',\n      id: item.id,\n      score: Math.round(item.score * 100) / 100,\n      job_title: item.payload.job_title,\n      company_name: item.payload.company_name,\n      required_skills: item.payload.required_skills,\n      experience_required: item.payload.experience_required,\n      location: item.payload.location\n    }));\n  }\n}\n\n// Combine and sort results by score\nconst allResults = [...candidateResults, ...jobResults]\n  .sort((a, b) => b.score - a.score)\n  .slice(0, searchParams.limit);\n\nreturn {\n  query: searchParams.query,\n  search_type: searchParams.searchType,\n  total_results: allResults.length,\n  candidate_count: candidateResults.length,\n  job_count: jobResults.length,\n  threshold_used: searchParams.threshold,\n  results: allResults,\n  search_time: new Date().toISOString(),\n  execution_time_ms: Date.now() - new Date(searchParams.timestamp).getTime()\n};"
      },
      "name": "Process Search Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 200],
      "id": "process_results"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO search_history (query_text, query_type, results_count, execution_time_ms, filters) VALUES ($1, $2, $3, $4, $5)",
        "additionalFields": {
          "mode": "independently"
        }
      },
      "name": "Log Search History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1440, 300],
      "credentials": {
        "postgres": {
          "id": "postgres_default",
          "name": "PostgreSQL account"
        }
      },
      "id": "log_search"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"data\": {{ JSON.stringify($json) }}\n}"
      },
      "name": "Return Search Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1640, 200],
      "id": "return_results"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"{{ $('Validate Search Parameters').first().json.error }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "name": "Return Search Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, 500],
      "id": "return_error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      },
      "name": "Check Search Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [440, 400],
      "id": "check_search_validation"
    }
  ],
  "connections": {
    "Search Webhook": {
      "main": [
        [
          {
            "node": "Validate Search Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Search Parameters": {
      "main": [
        [
          {
            "node": "Check Search Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Search Validation": {
      "main": [
        [
          {
            "node": "Generate Query Embedding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Search Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Query Embedding": {
      "main": [
        [
          {
            "node": "Should Search Candidates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Should Search Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Search Candidates": {
      "main": [
        [
          {
            "node": "Search Candidates in Vector DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Search Jobs": {
      "main": [
        [
          {
            "node": "Search Jobs in Vector DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Candidates in Vector DB": {
      "main": [
        [
          {
            "node": "Process Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Jobs in Vector DB": {
      "main": [
        [
          {
            "node": "Process Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Search Results": {
      "main": [
        [
          {
            "node": "Log Search History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Search History": {
      "main": [
        [
          {
            "node": "Return Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "semantic_search_workflow",
  "tags": []
}