scenarios/local-info-scout/initialization/n8n/local-search.json
{
  "name": "local-search",
  "nodes": [
    {
      "parameters": {
        "path": "local-search",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "query",
              "value": "vegan restaurants near me"
            },
            {
              "name": "location",
              "value": "New York, NY"
            }
          ],
          "number": [
            {
              "name": "radius",
              "value": 2
            }
          ]
        }
      },
      "id": "default-values",
      "name": "Default Values",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 500]
    },
    {
      "parameters": {
        "url": "${service.n8n.url}/webhook/ollama",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{`Extract location search intent from: ${$json.query}. Return JSON with: location_type (restaurant/store/service), filters (vegan/24hour/etc), and specific_query.`}}"
            },
            {
              "name": "model",
              "value": "llama3.2:3b"
            }
          ]
        },
        "options": {}
      },
      "id": "analyze-query",
      "name": "Analyze Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            }
          ]
        }
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Analyze Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Default Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Values": {
      "main": [
        [
          {
            "node": "Analyze Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Query": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}