scenarios/secure-document-processing/initialization/automation/n8n/workflow-executor.json
{
  "name": "Workflow Executor",
  "nodes": [
    {
      "parameters": {
        "path": "workflow-executor",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-executor",
      "name": "Workflow Executor Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "workflow-executor-webhook"
    },
    
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM secure_doc_processing.workflows WHERE id = $1 AND is_active = true",
        "queryParameters": "={{ [$json.workflowId] }}",
        "options": {}
      },
      "id": "get-workflow",
      "name": "Get Workflow Definition",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [400, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-secure-doc",
          "name": "PostgreSQL Secure Doc Processing"
        }
      }
    },
    
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM secure_doc_processing.documents WHERE id = $1",
        "queryParameters": "={{ [$json.documentId] }}",
        "options": {}
      },
      "id": "get-document",
      "name": "Get Document",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [600, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-secure-doc",
          "name": "PostgreSQL Secure Doc Processing"
        }
      }
    },
    
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Execute workflow based on definition\nconst workflow = $node['Get Workflow Definition'].json[0];\nconst document = $node['Get Document'].json[0];\n\nif (!workflow) {\n  throw new Error('Workflow not found or inactive');\n}\n\n// Parse workflow definition\nconst definition = workflow.workflow_definition;\nconst config = workflow.configuration || {};\n\n// Log workflow execution\nconst execution = {\n  workflowId: workflow.id,\n  workflowName: workflow.name,\n  documentId: document.id,\n  documentName: document.filename,\n  startTime: new Date().toISOString(),\n  steps: []\n};\n\n// Process based on workflow type\nlet result = {};\n\nif (workflow.category === 'extraction') {\n  result.type = 'extraction';\n  result.output = 'Text extraction completed';\n} else if (workflow.category === 'analysis') {\n  result.type = 'analysis';\n  result.output = 'Document analysis completed';\n} else if (workflow.category === 'compliance') {\n  result.type = 'compliance';\n  result.output = 'Compliance check completed';\n} else if (workflow.category === 'conversion') {\n  result.type = 'conversion';\n  result.output = 'Format conversion completed';\n} else {\n  result.type = 'custom';\n  result.output = 'Custom workflow executed';\n}\n\nexecution.result = result;\nexecution.endTime = new Date().toISOString();\n\nreturn execution;"
      },
      "id": "execute-workflow",
      "name": "Execute Workflow Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE secure_doc_processing.workflows SET usage_count = usage_count + 1, last_used_at = NOW() WHERE id = $1",
        "queryParameters": "={{ [$json.workflowId] }}",
        "options": {}
      },
      "id": "update-usage",
      "name": "Update Workflow Usage",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1000, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-secure-doc",
          "name": "PostgreSQL Secure Doc Processing"
        }
      }
    },
    
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Workflow executed successfully"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    
    {
      "parameters": {
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1400, 300]
    }
  ],
  
  "connections": {
    "Workflow Executor Webhook": {
      "main": [[{"node": "Get Workflow Definition", "type": "main", "index": 0}]]
    },
    "Get Workflow Definition": {
      "main": [[{"node": "Get Document", "type": "main", "index": 0}]]
    },
    "Get Document": {
      "main": [[{"node": "Execute Workflow Logic", "type": "main", "index": 0}]]
    },
    "Execute Workflow Logic": {
      "main": [[{"node": "Update Workflow Usage", "type": "main", "index": 0}]]
    },
    "Update Workflow Usage": {
      "main": [[{"node": "Prepare Response", "type": "main", "index": 0}]]
    },
    "Prepare Response": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  
  "versionId": "v1.0.0",
  "id": "workflow-executor"
}