scripts/scenarios/core/analytics-dashboard/initialization/automation/n8n/main-orchestration.json
{
  "name": "Analytics Dashboard - Main Orchestration",
  "nodes": [
    {
      "parameters": {
        "path": "analytics-dashboard-main",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Dashboard API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "analytics-dashboard-main"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Route request to appropriate handler\nconst request = $input.item.json;\nconst action = request.action || 'status';\nconst timestamp = new Date().toISOString();\n\n// Prepare routing data\nconst routingData = {\n  action,\n  timestamp,\n  request_id: `req_${Date.now()}`,\n  source: request.source || 'api',\n  priority: request.priority || 'normal',\n  data: request.data || {},\n  metadata: {\n    client_ip: request.headers?.['x-forwarded-for'] || 'unknown',\n    user_agent: request.headers?.['user-agent'] || 'unknown'\n  }\n};\n\n// Determine workflow branch\nswitch(action) {\n  case 'discover':\n    routingData.workflow = 'discovery';\n    routingData.target_url = 'http://localhost:5678/webhook/discover-resources';\n    break;\n  case 'alert':\n    routingData.workflow = 'alerting';\n    routingData.target_url = 'http://localhost:5678/webhook/alert-handler';\n    break;\n  case 'metrics':\n    routingData.workflow = 'metrics';\n    routingData.query_type = request.data?.query_type || 'current';\n    break;\n  case 'status':\n  default:\n    routingData.workflow = 'status';\n    routingData.include_details = request.data?.detailed || false;\n    break;\n}\n\nreturn routingData;"
      },
      "id": "route-request",
      "name": "Route Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.workflow }}",
              "operation": "equals",
              "value2": "discovery"
            }
          ]
        }
      },
      "id": "is-discovery",
      "name": "Is Discovery?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [680, 180]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.workflow }}",
              "operation": "equals",
              "value2": "alerting"
            }
          ]
        }
      },
      "id": "is-alert",
      "name": "Is Alert?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.workflow }}",
              "operation": "equals",
              "value2": "metrics"
            }
          ]
        }
      },
      "id": "is-metrics",
      "name": "Is Metrics?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [680, 420]
    },
    {
      "parameters": {
        "url": "={{ $json.target_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=",
              "value": "={{ JSON.stringify($json.data) }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "trigger-discovery",
      "name": "Trigger Discovery",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 120],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $json.target_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=",
              "value": "={{ JSON.stringify($json.data) }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "trigger-alert",
      "name": "Trigger Alert Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 240],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM resource_monitoring.get_resource_health_summary()",
        "options": {}
      },
      "id": "get-status-summary",
      "name": "Get Status Summary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [900, 540],
      "credentials": {
        "postgres": {
          "id": "postgres-monitoring",
          "name": "PostgreSQL Monitoring"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.query_type }}",
              "operation": "equals",
              "value2": "historical"
            }
          ]
        }
      },
      "id": "metrics-type",
      "name": "Historical Metrics?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 360]
    },
    {
      "parameters": {
        "url": "http://localhost:9009/exec",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "SELECT resource_name, resource_type, status, value, response_time_ms, timestamp FROM resource_metrics WHERE timestamp > dateadd('m', -5, now()) LATEST ON timestamp PARTITION BY resource_name"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "get-current-metrics",
      "name": "Get Current Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:9009/exec",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ 'SELECT timestamp, resource_name, avg(response_time_ms) as avg_response_time, max(response_time_ms) as max_response_time, count(*) as sample_count FROM resource_metrics WHERE timestamp > dateadd(\\'h\\', -' + ($json.data.hours || 24) + ', now()) SAMPLE BY 5m ALIGN TO CALENDAR' }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-historical-metrics",
      "name": "Get Historical Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "get",
        "key": "monitoring_summary"
      },
      "id": "get-cached-summary",
      "name": "Get Cached Summary",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [900, 660],
      "credentials": {
        "redis": {
          "id": "redis-monitoring",
          "name": "Redis Monitoring"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Build comprehensive response\nconst input = $input.item.json;\nconst timestamp = new Date().toISOString();\n\nlet response = {\n  success: true,\n  timestamp,\n  request_id: input.request_id || `req_${Date.now()}`,\n  action: input.action || 'status',\n  data: {}\n};\n\n// Add action-specific data\nswitch(input.workflow) {\n  case 'discovery':\n    response.data = {\n      triggered: true,\n      discovery_id: `disc_${Date.now()}`,\n      message: 'Resource discovery initiated',\n      webhook_response: input.body || {}\n    };\n    break;\n    \n  case 'alerting':\n    response.data = {\n      alert_processed: true,\n      alert_id: `alert_${Date.now()}`,\n      severity: input.data?.severity || 'info',\n      message: input.data?.message || 'Alert processed'\n    };\n    break;\n    \n  case 'metrics':\n    if (input.query_type === 'historical') {\n      response.data = {\n        type: 'historical',\n        period_hours: input.data?.hours || 24,\n        metrics: input.dataset || [],\n        aggregation: '5-minute samples'\n      };\n    } else {\n      response.data = {\n        type: 'current',\n        metrics: input.dataset || [],\n        last_update: timestamp\n      };\n    }\n    break;\n    \n  case 'status':\n  default:\n    // Parse cached summary if available\n    let summary = {};\n    if (input.value) {\n      try {\n        summary = JSON.parse(input.value);\n      } catch(e) {\n        summary = input;\n      }\n    } else {\n      summary = input;\n    }\n    \n    response.data = {\n      resources: {\n        total: summary.total_resources || 0,\n        healthy: summary.healthy_count || 0,\n        degraded: summary.degraded_count || 0,\n        down: summary.down_count || 0,\n        unknown: summary.unknown_count || 0,\n        critical_down: summary.critical_down || 0\n      },\n      last_update: summary.last_update || timestamp,\n      monitoring_active: true\n    };\n    break;\n}\n\n// Add performance metrics\nresponse.performance = {\n  response_time_ms: Date.now() - (input.processing_start || Date.now()),\n  cached: input.from_cache || false\n};\n\nreturn response;"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 420]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ],
          "number": [
            {
              "name": "statusCode",
              "value": 200
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1560, 420]
    }
  ],
  "connections": {
    "Dashboard API Webhook": {
      "main": [
        [
          {
            "node": "Route Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Request": {
      "main": [
        [
          {
            "node": "Is Discovery?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Alert?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Metrics?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Cached Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Discovery?": {
      "main": [
        [
          {
            "node": "Trigger Discovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Alert?": {
      "main": [
        [
          {
            "node": "Trigger Alert Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Metrics?": {
      "main": [
        [
          {
            "node": "Historical Metrics?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Historical Metrics?": {
      "main": [
        [
          {
            "node": "Get Historical Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Current Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Discovery": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Alert Handler": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Metrics": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Historical Metrics": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cached Summary": {
      "main": [
        [
          {
            "node": "Get Status Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status Summary": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-handler"
  },
  "versionId": "analytics-dashboard-main-v1",
  "id": "analytics-dashboard-main",
  "meta": {
    "templateCreatedBy": "vrooli-monitoring",
    "instanceId": "monitoring-instance"
  },
  "tags": [
    {
      "id": "monitoring",
      "name": "Monitoring"
    },
    {
      "id": "orchestration",
      "name": "Orchestration"
    },
    {
      "id": "dashboard",
      "name": "Dashboard"
    }
  ]
}