scenarios/brand-manager/initialization/automation/n8n/brand-pipeline.json
{
  "name": "Brand Generation Pipeline",
  "nodes": [
    {
      "name": "Brand Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "brand-generation",
      "parameters": {
        "path": "generate-brand",
        "method": "POST"
      }
    },
    {
      "name": "Generate Text Assets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 250],
      "parameters": {
        "url": "http://ollama:11434/api/generate",
        "method": "POST",
        "body": {
          "model": "llama3.2",
          "prompt": "Generate brand slogan and ad copy for: {{$json.brandName}}",
          "stream": false
        }
      }
    },
    {
      "name": "Generate Visual Assets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 350],
      "parameters": {
        "url": "http://comfyui:8188/prompt",
        "method": "POST",
        "body": {
          "prompt": {
            "logo_style": "{{$json.logoStyle}}",
            "brand_colors": "{{$json.brandColors}}",
            "workflow": "logo-generator"
          }
        }
      }
    },
    {
      "name": "Store in Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "operation": "insert",
        "table": "brands",
        "columns": "name,slogan,ad_copy,logo_url,created_at"
      }
    },
    {
      "name": "Upload to MinIO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 400],
      "parameters": {
        "url": "http://minio:9000/logos/",
        "method": "PUT",
        "sendBinaryData": true
      }
    },
    {
      "name": "Export Package",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300],
      "parameters": {
        "functionCode": "// Create export package with manifest.json, favicon, etc.\nconst brandPackage = {\n  'manifest.json': {\n    name: $json.brandName,\n    short_name: $json.shortName,\n    theme_color: $json.brandColors.primary,\n    background_color: $json.brandColors.background,\n    icons: $json.icons\n  },\n  'favicon.ico': $binary.favicon,\n  'logo.svg': $binary.logo,\n  'brand-config.json': $json\n};\nreturn [{json: {package: brandPackage, exportPath: `/exports/${$json.brandId}`}}];"
      }
    }
  ],
  "connections": {
    "Brand Request": {
      "main": [[
        {"node": "Generate Text Assets"},
        {"node": "Generate Visual Assets"}
      ]]
    },
    "Generate Text Assets": {
      "main": [[ {"node": "Store in Database"} ]]
    },
    "Generate Visual Assets": {
      "main": [[ {"node": "Upload to MinIO"} ]]
    },
    "Store in Database": {
      "main": [[ {"node": "Export Package"} ]]
    },
    "Upload to MinIO": {
      "main": [[ {"node": "Export Package"} ]]
    }
  }
}