scenarios/brand-manager/initialization/automation/n8n/integration-monitor.json
{
  "name": "Integration Monitor",
  "description": "Monitors Claude Code agent progress and handles completion/errors",
  "nodes": [
    {
      "name": "Claude Progress Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 200],
      "webhookId": "claude-progress",
      "parameters": {
        "path": "claude-progress",
        "method": "POST"
      }
    },
    {
      "name": "Claude Completion Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "claude-completion",
      "parameters": {
        "path": "claude-completion",
        "method": "POST"
      }
    },
    {
      "name": "Claude Error Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 400],
      "webhookId": "claude-error",
      "parameters": {
        "path": "claude-error",
        "method": "POST"
      }
    },
    {
      "name": "Update Progress",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [400, 200],
      "parameters": {
        "operation": "update",
        "table": "integration_requests",
        "where": "claude_session_id = $1",
        "values": "={{ $json.sessionId }}",
        "columns": "response_payload,updated_at",
        "updateValues": "={{ JSON.stringify($json) }},NOW()"
      }
    },
    {
      "name": "Process Completion",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [400, 300],
      "parameters": {
        "functionCode": "// Process Claude Code agent completion\nconst { sessionId, success, results, errors, changes } = $json;\n\nconst completionData = {\n  sessionId,\n  success,\n  completedAt: new Date().toISOString(),\n  results: results || [],\n  errors: errors || [],\n  changes: changes || [],\n  summary: {\n    filesModified: changes ? changes.length : 0,\n    assetsReplaced: results ? results.filter(r => r.type === 'asset').length : 0,\n    errorsEncountered: errors ? errors.length : 0\n  }\n};\n\nreturn [{\n  json: {\n    ...completionData,\n    status: success ? 'completed' : 'failed'\n  }\n}];"
      }
    },
    {
      "name": "Update Completion Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [600, 300],
      "parameters": {
        "operation": "update",
        "table": "integration_requests", 
        "where": "claude_session_id = $1",
        "values": "={{ $json.sessionId }}",
        "columns": "status,response_payload,completed_at,updated_at",
        "updateValues": "={{ $json.status }},={{ JSON.stringify($json) }},NOW(),NOW()"
      }
    },
    {
      "name": "Handle Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [400, 400],
      "parameters": {
        "functionCode": "// Process Claude Code agent error\nconst { sessionId, error, context, partialResults } = $json;\n\nconst errorData = {\n  sessionId,\n  error: error || 'Unknown error occurred',\n  context: context || {},\n  partialResults: partialResults || [],\n  failedAt: new Date().toISOString(),\n  recoverable: context && context.recoverable === true\n};\n\nreturn [{\n  json: {\n    ...errorData,\n    status: 'failed'\n  }\n}];"
      }
    },
    {
      "name": "Update Error Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [600, 400],
      "parameters": {
        "operation": "update",
        "table": "integration_requests",
        "where": "claude_session_id = $1", 
        "values": "={{ $json.sessionId }}",
        "columns": "status,response_payload,completed_at,updated_at",
        "updateValues": "failed,={{ JSON.stringify($json) }},NOW(),NOW()"
      }
    },
    {
      "name": "Get Integration Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [800, 350],
      "parameters": {
        "operation": "select",
        "query": "SELECT ir.*, b.name as brand_name FROM integration_requests ir JOIN brands b ON ir.brand_id = b.id WHERE ir.claude_session_id = $1",
        "values": "={{ $json.sessionId }}"
      }
    },
    {
      "name": "Send Notification",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1000, 350],
      "parameters": {
        "functionCode": "// Send notification about integration completion/failure\nconst integrationData = $('Get Integration Details').first().json;\nconst status = $json.status;\n\nconst notification = {\n  type: status === 'completed' ? 'success' : 'error',\n  title: `Brand Integration ${status === 'completed' ? 'Completed' : 'Failed'}`,\n  message: `Integration of ${integrationData.brand_name} into ${integrationData.target_app_path} has ${status}.`,\n  data: {\n    brandName: integrationData.brand_name,\n    targetApp: integrationData.target_app_path,\n    integrationType: integrationData.integration_type,\n    duration: integrationData.completed_at ? \n      Math.round((new Date(integrationData.completed_at) - new Date(integrationData.created_at)) / 60000) : null\n  }\n};\n\n// This would send to notification system (email, webhook, etc.)\nreturn [{ json: notification }];"
      }
    },
    {
      "name": "Store Metrics", 
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [800, 200],
      "parameters": {
        "operation": "insert",
        "table": "integration_metrics",
        "columns": "session_id,brand_id,status,duration_seconds,files_modified,errors_count,created_at",
        "values": "={{ $json.sessionId }},={{ $('Get Integration Details').first().json.brand_id }},={{ $json.status }},={{ $json.summary ? $json.summary.duration : null }},={{ $json.summary ? $json.summary.filesModified : 0 }},={{ $json.summary ? $json.summary.errorsEncountered : 0 }},NOW()"
      }
    },
    {
      "name": "Cleanup Resources",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1200, 350],
      "parameters": {
        "functionCode": "// Cleanup temporary resources if needed\nconst { sessionId, status } = $json;\n\n// This would clean up temporary files, close connections, etc.\n// For now, just log the cleanup\nconsole.log(`Cleaning up resources for session ${sessionId} with status ${status}`);\n\nreturn [{\n  json: {\n    sessionId,\n    status,\n    cleanupCompleted: true,\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "name": "Respond to Progress",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [600, 200],
      "parameters": {
        "responseBody": {
          "received": true,
          "sessionId": "={{ $json.sessionId }}",
          "status": "progress_updated"
        }
      }
    },
    {
      "name": "Respond to Completion",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1400, 300],
      "parameters": {
        "responseBody": {
          "received": true,
          "sessionId": "={{ $json.sessionId }}",
          "status": "completion_processed"
        }
      }
    },
    {
      "name": "Respond to Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1400, 400],
      "parameters": {
        "responseBody": {
          "received": true,
          "sessionId": "={{ $json.sessionId }}",
          "status": "error_processed"
        }
      }
    }
  ],
  "connections": {
    "Claude Progress Webhook": {
      "main": [[ {"node": "Update Progress"} ]]
    },
    "Claude Completion Webhook": {
      "main": [[ {"node": "Process Completion"} ]]
    },
    "Claude Error Webhook": {
      "main": [[ {"node": "Handle Error"} ]]
    },
    "Update Progress": {
      "main": [[ 
        {"node": "Respond to Progress"},
        {"node": "Store Metrics"}
      ]]
    },
    "Process Completion": {
      "main": [[ {"node": "Update Completion Status"} ]]
    },
    "Update Completion Status": {
      "main": [[ {"node": "Get Integration Details"} ]]
    },
    "Handle Error": {
      "main": [[ {"node": "Update Error Status"} ]]
    },
    "Update Error Status": {
      "main": [[ {"node": "Get Integration Details"} ]]
    },
    "Get Integration Details": {
      "main": [[ {"node": "Send Notification"} ]]
    },
    "Send Notification": {
      "main": [[ {"node": "Cleanup Resources"} ]]
    },
    "Cleanup Resources": {
      "main": [[ 
        {"node": "Respond to Completion"},
        {"node": "Respond to Error"}
      ]]
    }
  }
}