scripts/scenarios/core/resume-screening-assistant/initialization/n8n/semantic-search-workflow.json
{
  "name": "Semantic Resume Search",
  "nodes": [
    {
      "parameters": {
        "path": "resume-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "resume-search",
      "id": "webhook_trigger"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 500],
      "id": "manual_trigger"
    },
    {
      "parameters": {
        "jsCode": "// Test defaults for manual trigger\nreturn {\n  query: 'Find candidates with React and Python experience for senior full-stack position',\n  job_id: 'job-001',\n  limit: 10,\n  min_score: 0.7\n};"
      },
      "name": "Set Test Defaults",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 500],
      "id": "set_defaults"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "trigger_check",
              "leftValue": "={{ $('Webhook Trigger').isExecuted }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Trigger Source",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 400],
      "id": "check_trigger"
    },
    {
      "parameters": {
        "jsCode": "// Validate search parameters\nconst input = $input.first().json;\nconst errors = [];\n\nif (!input.query || typeof input.query !== 'string' || input.query.trim().length === 0) {\n  errors.push('Query is required and must be a non-empty string');\n}\n\nconst limit = parseInt(input.limit) || 10;\nif (limit < 1 || limit > 100) {\n  errors.push('Limit must be between 1 and 100');\n}\n\nconst minScore = parseFloat(input.min_score) || 0.5;\nif (minScore < 0 || minScore > 1) {\n  errors.push('Min score must be between 0 and 1');\n}\n\nif (errors.length > 0) {\n  throw new Error(`Validation failed: ${errors.join(', ')}`);\n}\n\nreturn {\n  query: input.query.trim(),\n  job_id: input.job_id || null,\n  limit: limit,\n  min_score: minScore,\n  filters: input.filters || {}\n};"
      },
      "name": "Validate Search Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 400],
      "id": "validate_input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/embedding-generator",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.query }}"
            },
            {
              "name": "model",
              "value": "nomic-embed-text"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "name": "Generate Query Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 400],
      "id": "generate_query_embedding"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:6333/collections/resumes/points/search",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "vector",
              "value": "={{ $json.embedding }}"
            },
            {
              "name": "limit",
              "value": "={{ $('Validate Search Input').item.json.limit }}"
            },
            {
              "name": "score_threshold",
              "value": "={{ $('Validate Search Input').item.json.min_score }}"
            },
            {
              "name": "filter",
              "value": "={{ $('Validate Search Input').item.json.job_id ? { must: [{ key: 'job_id', match: { value: $('Validate Search Input').item.json.job_id } }] } : {} }}"
            },
            {
              "name": "with_payload",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "name": "Search Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 400],
      "id": "search_qdrant"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "candidates",
        "returnAll": false,
        "limit": "={{ $('Validate Search Input').item.json.limit }}",
        "where": {
          "values": [
            {
              "column": "id",
              "condition": "IN",
              "value": "={{ $json.result.map(r => r.id).join(',') }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Candidate Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1400, 400],
      "credentials": {
        "postgres": {
          "id": "postgres_credentials",
          "name": "Postgres"
        }
      },
      "id": "fetch_candidates"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/ollama",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ 'Rank these candidates for the query: \"' + $('Validate Search Input').item.json.query + '\"\\n\\nCandidates:\\n' + $json.map((c, i) => `${i+1}. ${c.name}: ${c.skills}`).join('\\n') + '\\n\\nProvide a brief ranking rationale for each candidate in JSON format.' }}"
            },
            {
              "name": "model",
              "value": "llama3.2"
            },
            {
              "name": "type",
              "value": "ranking"
            },
            {
              "name": "quiet",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "name": "AI Ranking Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 400],
      "id": "ai_ranking"
    },
    {
      "parameters": {
        "jsCode": "// Combine search results with AI ranking\nconst searchResults = $('Search Qdrant').item.json.result || [];\nconst candidateDetails = $('Fetch Candidate Details').all().map(item => item.json);\nconst aiRanking = $('AI Ranking Analysis').item.json.response;\n\n// Map and merge results\nconst mergedResults = searchResults.map(result => {\n  const candidate = candidateDetails.find(c => c.id === result.id);\n  return {\n    id: result.id,\n    score: result.score,\n    name: candidate?.name || result.payload?.candidate_name || 'Unknown',\n    job_id: candidate?.job_id || result.payload?.job_id,\n    skills: candidate?.skills || result.payload?.skills || [],\n    experience_years: candidate?.experience_years || 0,\n    education: candidate?.education || 'Not specified',\n    extracted_info: candidate?.extracted_info ? JSON.parse(candidate.extracted_info) : {},\n    ai_ranking: aiRanking?.[candidate?.name] || 'Not ranked'\n  };\n});\n\nreturn {\n  success: true,\n  query: $('Validate Search Input').item.json.query,\n  total_results: mergedResults.length,\n  results: mergedResults,\n  search_params: {\n    limit: $('Validate Search Input').item.json.limit,\n    min_score: $('Validate Search Input').item.json.min_score,\n    job_id: $('Validate Search Input').item.json.job_id\n  },\n  timestamp: new Date().toISOString()\n};"
      },
      "name": "Prepare Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 400],
      "id": "prepare_results"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 400],
      "id": "respond"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Trigger Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Test Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Test Defaults": {
      "main": [
        [
          {
            "node": "Check Trigger Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Trigger Source": {
      "main": [
        [
          {
            "node": "Validate Search Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Search Input": {
      "main": [
        [
          {
            "node": "Generate Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Query Embedding": {
      "main": [
        [
          {
            "node": "Search Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Qdrant": {
      "main": [
        [
          {
            "node": "Fetch Candidate Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Candidate Details": {
      "main": [
        [
          {
            "node": "AI Ranking Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Ranking Analysis": {
      "main": [
        [
          {
            "node": "Prepare Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-01-16T08:00:00.000Z",
  "versionId": "b2c3d4e5-f6a7-8901-bcde-f12345678901"
}